/* General */
body {
  font-family: 'Montserrat';
  text-align: center;
  line-height: 1.5;
  color: #3f3f3f;
}

h1, h2, h3 {
  font-weight: 900;
  margin: auto;
}

p {
  color: #5f5f5f;
  margin: auto;
}

.container-fluid {
  padding: 3% 15%;
}

.colored-section {
  background-color: #516BEB;
  color: #fff;
}

/* Navigation Bar */
#title .container-fluid {
  padding-top: 1%;
}

.navbar {
  padding: 0 0 4rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 5%;
}

.nav-item {
  padding: 0 0 6% 30px;
}

.nav-link {
  font-size: 1.5rem;
}

#nav-btn {
  margin: 0;
}

/* Headings */
.big-heading {
  font-size: 3.5rem;
}

.section-heading {
  font-weight: bold;
  font-size: 3rem;
  padding: 4% 0 2% 0;
}

/* Buttons */
.btn {
  border-radius: 15px;
  margin: 5% 0 4% 0;
}

/* Title Section */
#title {
  text-align: left;
}

/* Title Image */
.title-img {
  width: 80%;
  margin-left: 20%;
}

/* Problem Section */
#problem .section-heading {
  color: #516BEB;
}

.blurb {
  width: 50%;
}

.img {
  width: 40%;
}

.header {
  margin: 8% 0 3%;
}

.row {
  margin-bottom: 2rem;
}

.row-l {
  text-align: left;
}

.row-r {
  text-align: right;
}

.img-l {
  margin-left: 50%;
}

.img-r {
  margin-right: 50%;
}

/* Solution Section */
hr {
  width: 50%;
  border: 10px dotted #3DB2FF;
  border-top: none;
}

#solution .section-heading {
  color: #516BEB;
}

ol {
  display: inline-block;
  text-align: left;
}

li::marker {
  font-weight: bold;
  color: #516BEB;
  font-size: 3.5rem;
}

li p {
  margin-top: 3%;
  font-size: 1.3rem;
  color: #5f5f5f;
}

ol li {
  margin-bottom: 6%;
}

/* Testimonial Section */
#testimonials {
  background-color: #3DB2FF;
}

.testimonial-text {
  font-size: 2rem;
  padding-bottom: 3%;
}

.carousel-item p {
  color: #fff;
  font-size: 1.2rem;
}

/* Call-to-action Section */
#cta .container-fluid {
  padding-bottom: 0;
}
