/* General */

body {
  font-family: 'Montserrat';
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 900;
  margin: auto;
}

p {
  color: #8f8f8f;
  margin: auto;
  font-size: 1.1rem;
}

/* Headings */

.big-heading {
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
  padding: 3% 0 2% 0;
}

/* Containers */

.container-fluid {
  padding: 5% 15%;
}

/* Sections */

.colored-section {
  background-color: #5C7AEA;
  color: #fff;
}

/* Navigation Bar */

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1%;
}

.nav-item {
  padding: 0 0 20px 30px;
}

.down {
  margin-top: 1%;
}

.nav-link {
  font-size: 1.5rem;
  font-weight: 400;
}

#nav-btn {
  margin: 0;
}

/* Buttons */

.btn {
  border-radius: 15px;
  margin: 5% 0;
}

.btn-login, .btn-signup {
  margin-left: 2%;
}

/* Title Section */

#title .container-fluid {
  padding: 3% 15% 5%;
  text-align: left;
}

/* Title Image */
.title-img {
  width: 80%;
  margin-left: 20%;
}

/* Problem Section */

.head, .feature-title {
  font-size: 1.75rem;
  padding-bottom: 5%;
}

.blurb {
  width: 50%;
}

.img {
  width: 40%;
}

.head {
  margin-top: 8%;
  color: #63B4B8;
}

.row {
  margin-bottom: 2rem;
}

.row-l {
  text-align: left;
}

.row-r {
  text-align: right;
}

.img-l {
  margin-left: 50%;
}

.img-r {
  margin-right: 50%;
}

/* Features Section */

/* Testimonial Section */
#testimonials {
  background-color: #63B4B8;
}

.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
  padding-bottom: 3%;
}

/* Text box */

.textbox {
  width: 50%;
  border-radius: 10px;
}

/* Call-to-action Section */
.cta-heading {
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
}

#cta .container-fluid {
  padding-bottom: 0;
}

/* Footer Section */
.copyright {
  color: #8f8f8f;
}
