<main class="container-fluid resources">

    <h1 class="big-heading">Causes of Drug Abuse</h1>

    <p>A variety of factors can contribute to the development of drug addiction, including:</p>

    <ul class="resources-ul">

        <li>

            <span>Genetic predisposition</span>: Some people may be predisposed to addiction due to inherited genetic
            traits.

        </li>

        <li>

            <span>Environmental factors</span>: Early drug exposure or living in a drug-abusing environment can
            increase the risk of drug abuse. A stressful or abusive environment can also play a role.


        </li>

        <li>

            <span>Peer pressure</span>: People may feel pressured by their peers to experiment with drugs in order to
            fit in or be perceived as "cool."

        </li>

        <li>

            <span>Curiosity</span>: Some people experiment with drugs for the sake of curiosity or for the experience.

        </li>

        <li>

            <span>Mental health disorders</span>: People who suffer from mental health conditions such as depression,
            anxiety, or trauma are more likely to use drugs to cope with their emotions.

        </li>

        <li>

            <span>Physical pain</span>: Some people, particularly those prescribed opioid painkillers for chronic pain,
            may begin to use drugs to manage physical pain.

        </li>

        <li>

            <span>Family dynamics</span>: Addiction can be exacerbated by unhealthy attachment styles and dysfunctional
            family roles.

        </li>

        <li>

            <span>Trauma</span>: Assault, rape, military combat, physical or sexual abuse, or natural disasters can all
            lead to substance abuse.

        </li>

        <li>

            <span>Early drug exposure</span>: If a person grows up in an environment where drugs are commonly abused
            and attitudes toward drugs are permissive, they are more likely to abuse and develop a drug problem later in
            life.

        </li>

    </ul>

    <p>
        It is important to note that no single factor can predict whether or not a person will develop a drug
        addiction.
        A combination of factors often influences the likelihood of addiction.

    </p>

    <img src="imgs/brain-3.png" alt="brain" class="img">

</main>

<br><br><br>

<%- include("footer") -%>