<main class="container-fluid resources">

    <h1 class="big-heading">Co-occurring Disorders</h1>

    <p>

        Substance abuse, including the use of alcohol & drugs, may increase the likelihood of developing mental health
        problems. While the underlying causes of mental health issues are frequently complex & multifaceted, substance
        abuse can exacerbate already existing risks. Heavy opioid use, for example, has been linked to an increased risk
        of depression & cannabis abuse has been linked to an increased risk of schizophrenia.

    </p>

    <img src="imgs/co-occurring.webp" alt="co-occurring disorders" class="img">

    <p>

        Co-occurring disorders, also known as dual diagnoses or dual disorders, are the presence of a substance use
        disorder as well as a mental health disorder in the same person. Substance use disorders can range from mild
        abuse to severe dependence & are characterized by an inability to control or abstain from substance use, as
        well as physical dependence in some cases.

        <br><br>

        Mood & anxiety disorders, as well as severe mental illnesses such as schizophrenia & schizoaffective
        disorder, are some of the most common mental health disorders found in people with substance use disorders.
        People who have substance use disorders are also more likely to develop other primary conditions or chronic
        diseases, as well as to have mental health problems.

    </p>

    <img src="imgs/co-occurring-2.webp" alt="co-occurring disorders" class="img">

    <h2 class="section-heading">Treatment</h2>

    <p>

        To effectively manage symptoms & achieve long-term recovery, co-occurring disorder treatment typically
        consists of a combination of medications & behavioral therapies. Co-occurring disorders, if left untreated,
        can have serious consequences such as an increased risk of overdose, hospitalization & premature death.

        <br><br>

        Individuals suffering from co-occurring disorders should seek specialized treatment programs that can address
        both conditions concurrently while also providing the necessary support & resources for recovery.

    </p>

</main>

<br><br><br>

<%- include("footer") -%>