<main class="container-fluid resources">

    <h1 class="future-heading">Commonly Abused Drugs</h1>

    <h1>UPDATE THE STATISTICS</h1>
    <h1>PICTURES & VIDEO</h1>

    <br>

    <p>

        Teenage drug abuse is a serious issue, therefore it's crucial for parents, teachers, and other adults to
        be aware of the particular drugs that are most frequently used by this age group. The following drugs have
        been among the most often taken by teenagers in the previous five years, according to the National Institute
        on Drug Abuse (NIDA):

    </p>

    <br><br>

    <ul class="commonly-abused-ul">

        <li>

            Alcohol: According to estimates, over 22% of high school students in the United States report binge
            drinking within the preceding month. Alcohol is the most often abused drug among teenagers. Teens who drink
            alcohol are more likely to suffer from heart disease, liver damage, and a higher chance of accidents and
            injuries, among other harmful effects.

        </li>

        <li>

            Marijuana: According to estimates, 20% of high school students in the United States report smoking
            marijuana in the previous month. It is the second most often abused drug among teenagers. Abuse of marijuana
            can result in problems with memory and focus as well as a higher chance of mishaps and injury.

        </li>

        <li>

            Vapes and e-cigarettes: Teenage use of these frequently nicotine-containing products has considerably
            expanded in recent years. NIDA estimates that 32% of American high school pupils used vapes within the
            previous month. Vaping and using e-cigarettes can result in addiction and have long-term negative health
            effects.

        </li>

        <li>

            Prescription drugs: Teenagers frequently abuse prescription drugs such sedatives, stimulants, and pain
            relievers. NIDA estimates that 7% of high school students in the US reported abusing prescription drugs
            in the previous month. Utilizing prescription drugs improperly can result in addiction, overdose, and
            organ damage.

        </li>

    </ul>

    <p>

        In order to prevent teen drug abuse, it is crucial for parents, schools, and other adults to be
        aware of these patterns and take appropriate action. This can involve discussing the risks of drug
        misuse with teenagers, establishing clear guidelines and expectations for drug use, and locating
        support and treatment for teenagers who may be having problems with drug abuse.

    </p>

</main>

<br><br><br>