<main class="container-fluid resources">

    <h1 class="big-heading">Commonly Abused Drugs</h1>

    <p>

        Drug abuse is a serious problem among teenagers, and it is important for parents, teachers, and other adults to
        be aware of the specific drugs that are most commonly used by this age group. According to the National
        Institute on Drug Abuse (NIDA), the following drugs have been among the most prevalent among teenagers in the
        past five years:

    </p>

    <ul class="resources-ul">

        <li>

            <span>Alcohol</span>: Approximately 52% of high school seniors in the United States report using alcohol in
            the past year, making it the most commonly abused drug among teenagers. Alcohol abuse can lead to heart
            disease, liver damage, accidents, and injuries, among other negative effects.

        </li>

        <li>

            <span>Marijuana</span>: Around 31% of high school students in the United States report using marijuana in
            the past year, making it the second most commonly abused drug among teenagers. Abuse of marijuana can cause
            problems with memory and focus, as well as an increased risk of accidents and injuries.

        </li>

        <li>

            <span>Vapes and e-cigarettes</span>: Teenage use of vapes and e-cigarettes, which often contain nicotine,
            has significantly increased in recent years. NIDA estimates that 27% of American high school students used
            vapes in the past year. Vaping and using e-cigarettes can lead to addiction and have long-term negative
            health consequences.

        </li>

        <li>

            <span>Illicit drugs</span>: Teens also frequently abuse illicit drugs such as cocaine, heroin, amphetamines,
            and prescription drugs. NIDA estimates that 8% of high school seniors in the US reported abusing illicit
            substances in the past month. Misuse of illicit drugs can lead to addiction, overdose, and organ damage.

        </li>

        <li>

            <span>Narcotics</span>: Teenagers commonly abuse narcotics such as Vicodin, OxyContin, and Percocet.
            According to the National Institute on Drug Abuse, 2% of high school seniors used narcotics other than
            heroin in the previous year. Addiction, overdose, and organ damage can all result from narcotic abuse.

        </li>

    </ul>

    <p>

        To prevent teenage drug abuse, it is vital for parents, schools, and other adults to be aware of these trends
        and take appropriate action. This may include discussing the risks of drug abuse with teenagers, setting clear
        rules and expectations regarding drug use, and providing support and treatment for teens who may be struggling
        with drug abuse.

    </p>

    <div class="center">
        <img src="imgs/illicit.jpeg" alt="illicit drugs" class="img">
    </div>

</main>

<br><br><br>