<main class="container-fluid resources">

    <h1 class="big-heading">Current Prevention Efforts</h1>

    <p>

        Numerous initiatives are underway in the US to prevent drug abuse. These include:

    </p>

    <ul class="resources-ul">

        <li>

            <span>Medication-Assisted Treatment (MAT)</span>: This treatment approach has been shown to be effective in
            reducing opioid use and preventing overdose. Given the ongoing opioid epidemic in the US, expanding access
            to MAT is critical.

        </li>

        <li>

            <span>Prescription Drug Monitoring Programs (PDMPs)</span>: These programs can help identify patients who
            may be at risk for substance abuse by tracking the prescribing and dispensing of controlled substances.

        </li>

        <li>

            <span>Naloxone Distribution Programs</span>: Naloxone is a medication that can reverse an opioid overdose.
            Expanding access to naloxone can help save lives in the event of an overdose.

        </li>

        <li>

            <span>National Drug Control Strategy</span>: The government's comprehensive approach to reducing drug abuse
            and its consequences includes prevention efforts, such as education and community-based programs, as well as
            law enforcement and treatment initiatives.

        </li>

        <li>

            <span>Drug-Free Workplace Programs</span>: Many employers have implemented drug-free workplace programs,
            which may include drug testing, employee education and employee assistance programs (EAPs) to help
            employees who may be struggling with substance abuse.

        </li>

        <li>

            <span>School-Based Prevention Programs</span>: Many schools have implemented prevention programs that aim to
            educate students about the risks of drug abuse and help them develop healthy coping skills.

        </li>

        <li>

            <span>Community Anti-Drug Coalitions</span>: Community anti-drug coalitions are groups of community members
            who work together to prevent substance abuse among young people.

        </li>

        <li>

            <span>Prescription Drug Take-Back Programs</span>: These programs provide a safe and convenient way for
            individuals to dispose of unused prescription medications.

        </li>

        <li>

            <span>Substance Abuse and Mental Health Services Administration (SAMHSA)</span>: SAMHSA is a federal agency
            that provides funding for substance abuse prevention programs and treatment services, as well as resources
            and training for prevention professionals.

        </li>

        <li>

            <span>National Prevention Week (NPW)</span>: This annual event held in May promotes community involvement,
            resource sharing and partnership engagement to increase public awareness of substance use and mental
            disorders.

        </li>

    </ul>

    <img src="imgs/samhsa.webp" alt="samhsa logo" class="img">

</main>

<br><br><br>

<%- include("footer") -%>