<main class="container-fluid resources">

    <h1 class="future-heading">What is Drug Abuse?</h1>

    <h1>UPDATE THE STATISTICS</h1>
    <h1>PICTURES & VIDEO</h1>

    <br>

    <p>

        Drug abuse is a chronic condition marked by compulsive substance use that impairs daily functioning.
        It's a brain disease caused by drugs that change the structure and function of the brain, resulting in a
        loss of
        control over drug use and negative consequences.

        <br><br>

        Drug abuse, which can be caused by either prescription or nonprescription drugs, is diagnosed using
        DSM-5 criteria and can range in severity from mild to severe. Medication, therapy, and support groups are
        examples of personalized treatment methods.

        <br><br>

        Drug abuse is a public health concern because it contributes to impaired driving, violence, and an
        increased risk of infectious disease transmission via shared needles. Drug abuse is caused by both
        social and biological factors and can be avoided with education.

        <br><br>

        If you or someone you know is suffering as a result of drug abuse, seek professional help for diagnosis and
        treatment.

    </p>

</main>

<br><br><br>