<main class="container-fluid resources">

    <h1 class="big-heading">What is Drug Abuse?</h1>

    <p>

        Drug abuse is a chronic condition characterized by the compulsive use of drugs, which alters the structure and
        function of the brain, resulting in a loss of control over drug use & negative consequences. DSM-5 criteria
        are used to diagnose drug abuse, which can be caused by both prescription & non-prescription drugs. Effective
        treatment methods include medication, therapy & support groups.

        <br><br>

        This major public health concern can lead to impaired driving, violence & an increased risk of infectious
        disease transmission through shared needles. Education is crucial in preventing drug abuse & seeking
        professional help for diagnosis & treatment is essential.

        <br><br>

        Drug abuse refers to the harmful or hazardous use of both legal & illegal drugs, which can cause physical,
        psychological, social & other problems. It affects people of all ages, genders, races & socio-economic
        backgrounds & can lead to addiction, overdose & other serious consequences.

    </p>

    <img src="imgs/drug.webp" alt="drug abuse" class="img">

    <p>

        Addiction is a chronic, relapsing disorder that involves functional changes to brain circuits involved in
        reward, stress & self-control. Genetic, environmental & developmental factors can influence the risk of
        addiction & withdrawal symptoms may occur when attempts are made to stop drug use.

        <br><br>

        Withdrawal symptoms can be managed with the help of healthcare providers, family, friends, support groups, or
        organized treatment programs. Prevention through education & awareness programs is crucial in addressing drug
        addiction. Professional treatment can provide the tools & support needed to overcome addiction & achieve
        long-term recovery.

        <br><br>

        In conclusion, drug addiction is a complex & challenging condition that requires ongoing treatment and
        support. Early intervention, effective treatment & a commitment to prevention can help individuals overcome
        drug addiction & achieve a healthy, fulfilling life.

    </p>

    <img src="imgs/drug-2.webp" alt="drug abuse" class="img">

</main>

<br><br><br>

<%- include("footer") -%>