<main class="container-fluid resources">

    <h1 class="big-heading">What is Drug Abuse?</h1>

    <p>

        Drug abuse is a chronic condition characterized by the compulsive use of drugs, which alters the structure and
        function of the brain, resulting in a loss of control over drug use and negative consequences. DSM-5 criteria
        are used to diagnose drug abuse, which can be caused by both prescription and non-prescription drugs. Effective
        treatment methods include medication, therapy, and support groups.

        <br><br>

        This major public health concern can lead to impaired driving, violence, and an increased risk of infectious
        disease transmission through shared needles. Education is crucial in preventing drug abuse, and seeking
        professional help for diagnosis and treatment is essential.

        <br><br>

        Drug abuse refers to the harmful or hazardous use of both legal and illegal drugs, which can cause physical,
        psychological, social, and other problems. It affects people of all ages, genders, races, and socio-economic
        backgrounds and can lead to addiction, overdose, and other serious consequences.

    </p>

    <div class="center">
        <img src="imgs/drug.png" alt="drug abuse" class="img">
    </div>

    <p>

        Addiction is a chronic, relapsing disorder that involves functional changes to brain circuits involved in
        reward, stress, and self-control. Genetic, environmental, and developmental factors can influence the risk of
        addiction, and withdrawal symptoms may occur when attempts are made to stop drug use.

        <br><br>

        Withdrawal symptoms can be managed with the help of healthcare providers, family, friends, support groups, or
        organized treatment programs. Prevention through education and awareness programs is crucial in addressing drug
        addiction. Professional treatment can provide the tools and support needed to overcome addiction and achieve
        long-term recovery.

        <br><br>

        In conclusion, drug addiction is a complex and challenging condition that requires ongoing treatment and
        support. Early intervention, effective treatment, and a commitment to prevention can help individuals overcome
        drug addiction and achieve a healthy, fulfilling life.

    </p>

    <div class="center">
        <img src="imgs/drug-2.png" alt="drug abuse" class="img">
    </div>

</main>

<br><br><br>