<main class="container-fluid resources">

    <h1 class="big-heading">Effects of Drug Abuse</h1>

    <p>

        Substance abuse can harm a person's physical and mental health, as well as their relationships, employment, and
        social life. The following are some specific examples of substance abuse's effects, organized by substance:

    </p>

    <ul class="resources-ul">

        <li>

            <span>Alcohol</span>: Alcohol is a depressant of the central nervous system, and excessive consumption can
            have a variety of negative effects on the body and brain, including liver damage, pancreatitis, an increased
            risk of certain cancers, and mental health issues such as depression and anxiety. Alcohol abuse can also
            contribute to a wide range of accidents and injuries, such as car accidents and falls.

        </li>

        <li>

            <span>Opioids</span>: Opioids are a type of drug that is commonly used to relieve pain, but they can also be
            extremely addictive. Opioid abuse can have serious consequences for one's physical health, such as
            respiratory depression, overdose, and death. Aside from physical health issues, opioid abuse can lead to
            mental health issues such as depression and anxiety, as well as exacerbate pre-existing mental health
            conditions. It is critical to use opioids only as prescribed by a doctor and to be aware of the risks
            associated with opioid use.

        </li>

        <li>

            <span>Stimulants</span>: Stimulant drugs can increase happiness and energy, but they can also cause
            depression, fatigue, and an increased risk of dependence, as well as overstimulation of the heart and
            nervous system, injury, mental health issues, and harm to the developing baby during pregnancy. They may
            also cause nasal passage damage and increase the risk of HIV and hepatitis infection if injected. Combining
            stimulants with alcohol or other drugs can increase the risk of adverse effects, especially if you have a
            heart condition.

        </li>

        <li>

            <span>Cannabis</span>: Cannabis, also known as marijuana, is a psychoactive drug that induces relaxation and
            alters perception. It can, however, raise blood pressure and heart rate, as well as cause lethargy, anxiety,
            paranoia, and psychosis. It may increase the risk of mental health problems such as schizophrenia, impair
            cognitive function, reduce fertility, and increase the risk of lung diseases and heart disease when combined
            with tobacco. It may be especially dangerous for those who have a history of mental illness or a family
            history of mental illness.

        </li>

        <li>

            <span>Hallucinogens</span>: Hallucinogens are drugs that cause hallucinations and other changes in
            perception by altering an individual's perception of reality. These drugs can increase the intensity of
            sounds and colors, as well as make you feel alert, warm, and chatty. Hallucinogens, on the other hand, can
            cause anxiety, confusion, paranoia, and even psychosis when used for an extended period of time. Memory
            loss, depression, anxiety, overheating, and dehydration have all been linked to them. Hallucinogen abuse can
            also impair judgment and coordination, increasing the likelihood of accidents and injuries.

        </li>


        <li>

            <span>Sedatives</span>: Sedatives are drugs used to relax the body and mind. They are also referred to as
            tranquilizers or CNS depressants. Sedative abuse can cause respiratory depression, overdose, and death. It
            can also cause mental health problems like depression and anxiety, as well as exacerbate pre-existing mental
            health problems. Sedative abuse can also impair a person's ability to fulfill responsibilities and maintain
            healthy relationships.

        </li>

    </ul>

    <img src="imgs/drug-abuse.png" alt="drug abuse" class="img">

    <p>

        Substance abuse can have a wide range of negative consequences for a person, their family, and their community.
        These effects can be both social and economic. Some of the consequences of substance abuse include:

    </p>

    <ul class="resources-ul">

        <li>

            <span>Loss of productivity</span>: Substance abuse can impair an individual's ability to work efficiently,
            leading to absenteeism and poor job performance. As a result, the individual may lose their job or miss out
            on promotions, causing financial problems.

        </li>


        <li>

            <span>Strained relationships</span>: Substance abuse can cause conflict and strain in personal relationships
            because the individual may prioritize their substance over their loved ones. This can result in relationship
            problems and a loss of social support.

        </li>

        <li>

            <span>Increased healthcare costs</span>: Substance abuse can have a negative impact on both physical and
            mental health, resulting in higher healthcare costs for the individual and their family. Medical treatment,
            rehabilitation, and other related services may be included in these costs.

        </li>

        <li>

            <span>Legal problems</span>: Substance abuse can lead to criminal behavior and involvement with the legal
            system, incurring legal fees and other costs.

        </li>

        <li>

            <span>Impact on children</span>: Substance abuse can have a particularly negative impact on children, who
            may suffer from neglect or abuse as a result of their parent's substance abuse. Children of
            substance-abusing parents may also be more likely to develop substance abuse problems themselves.

        </li>

    </ul>

    <p>

        Substance abuse can be especially harmful to children, who may face neglect or abuse as a result of their
        parents' substance abuse. Children of substance-abusing parents are at a higher risk of developing substance
        abuse problems themselves.

    </p>

    <img src="imgs/social.png" alt="social impact" class="img">

    <p>

        It has been demonstrated that drug abuse has a significant impact on the brain's reward circuit, which is
        responsible for reinforcing positive behaviors. This has the potential to affect the brain's production of
        neurotransmitters such as dopamine, which is involved in the pleasure and reward system. Drug abuse can cause an
        abnormal release of neurotransmitters, which can lead to feelings of pleasure or euphoria.

        <br><br>

        The brain, on the other hand, may eventually adapt to these large surges by reducing the number of receptors
        that can receive signals or producing fewer neurotransmitters. This can make a person feel unable to enjoy
        previously pleasurable activities, or it can cause a person to require more of the drug to achieve the same
        level of reward, a phenomenon known as tolerance. Substance abuse can also cause physical changes in the brain,
        such as tissue shrinkage and decreased blood flow.

        <br><br>

        It can also lead to addiction, in which the brain becomes dependent on the substance to function properly. As a
        result, certain cues in a person's environment or routine can trigger drug cravings, and these cravings can
        persist even in people who have been drug-free for an extended period of time.

    </p>

    <img src="imgs/brain-2.png" alt="brain" class="img">

</main>

<br><br><br>