<main class="container-fluid resources">

    <h1 class="future-heading">Effects of Drug Abuse</h1>

    <h1>PICTURES & VIDEO</h1>

    <br>

    <p>brain & body & other functions</p>

</main>

<br><br><br>