<main class="container-fluid resources">

    <h1 class="big-heading">What is Fentanyl?</h1>
    <p>

        Fentanyl is a potent synthetic opioid primarily used as an analgesic, meaning it's used to relieve pain. It's 50
        times stronger than than heroin and 100 times stronger than morphine. It's primarily used to help manage pain
        for cancer patients and those recovering from surgeries.

        <br><br>

        Fentanyl works by activating μ-opioid receptors in the brain. By binding to these receptors, pain
        signals are blocked on their way to the brain. This results in reduced pain sensitivity and various effects such
        as feelings of happiness or euphoria, drowsiness, nausea and confusion.

        <br><br>

        Here's what a lethal dose of fentanyl (2 milligrams) looks like when compared to a penny:

    </p>

    <img src="imgs/fentanyl-penny.webp" alt="lethal fentanyl dose" class="img">

    <p>

        Fentanyl is a prescription drug, but it is also made and used illegally. Illegally made fentanyl is often mixed
        with other drugs, such as heroin, cocaine, or methamphetamine, to increase their potency. This is dangerous
        because fentanyl is so potent that even a small amount can cause an overdose. Fentanyl is a controlled substance
        in the United States, meaning it is illegal to use or possess without a prescription.

        <br><br>

        Common side effects of fentanyl include headache, dizziness, drowsiness, pale skin, feeling weak or tired,
        constipation, nausea, vomiting, stomach pain, insomnia, swelling in hands or feet, increased
        sweating, cold feeling, itching, redness, or rash where a patch was worn.

        <br><br>

        More serious side effects can occur which include low blood pressure, hallucinations, delirium,
        breathing difficulties, loss of consciousness and overdose.

    </p>

    <img src="imgs/fentanyl.webp" alt="fentanyl" class="img">

    <p>

        If you or someone you know uses fentanyl, you should know that misuse can be successfully managed with
        treatments such as medication, counseling and behavioral therapies. It's important to seek help from healthcare
        professionals if you suspect misuse or addiction.

    </p>

</main>

<br><br><br>

<%- include("footer") -%>