<div class="col-lg-4">

    <div class="footer-header">RESOURCES</div>

    <p class="footer-link">
        <a href="commonly-abused">Commonly Abused Drugs</a>
    </p>

    <p class="footer-link">
        <a href="effects">Effects of Drug Abuse</a>
    </p>

    <p class="footer-link">
        <a href="resources">Resources</a>
    </p>

    <p class="footer-link">
        <a href="stats">Statistics</a>
    </p>

</div>

</div>

</footer>

<br>

<div class="copy">

    <p>
        <a href="/" class="copy-link">
            © 2023 Mpower
        </a>
    </p>

</div>

</body>

</html>