<footer>

  <hr>

  <br>

  <div class="container-fluid">

    <div class="row">

      <div class="col-lg-5">

        <div class="footer-header">

          <a href="/">
            <i class="logo fa-solid fa-hand-fist"></i>
            MPOWER
          </a>

        </div>

        <p class="footer-p">

          Fighting drug abuse for a healthier, happier world.

        </p>

      </div>

      <div class="col-lg-3">

        <div class="footer-header">HELPFUL LINKS</div>

        <p class="footer-link">
          <a href="mindfulness">Mindfulness</a>
        </p>

        <p class="footer-link">
          <a href="goals">Goal Setting</a>
        </p>

        <p class="footer-link">
          <a href="journals">Journaling</a>
        </p>

      </div>

      <div class="col-lg-4">

        <div class="footer-header">RESOURCES</div>

        <p class="footer-link">
          <a href="drug-abuse">What is Drug Abuse?</a>
        </p>

        <p class="footer-link">
          <a href="commonly-abused">Commonly Abused Drugs</a>
        </p>

      </div>

    </div>

  </div>

</footer>

<br>

<div class="copy">

  <p>
    <a href="/" class="copy-link">
      © 2023 Mpower
    </a>
  </p>

</div>

</body>

</html>