<footer>

  <br><br><br>

  <div class="container text-muted ml-auto">

    <div class="row">

      <div class="col-lg-5">

        <div class="footer-header">
          <a href="/">MPOWER</a>
        </div>

        <p class="footer-p">
          
          Ending substance abuse for a healthier, happier world.

        </p>

      </div>

      <div class="col-lg-3">

        <div class="footer-header">USEFUL LINKS</div>

        <p class="footer-link">
          <a href="about">About Mpower</a>
        </p>

        <p class="footer-link">
          <a href="solution">Our Solution</a>
        </p>

        <p class="footer-link">
          <a href="resources">Resources</a>
        </p>

        <p class="footer-link">
          <a href="contact">Contact Us</a>
        </p>

      </div>

      <div class="col-lg-4">

        <a href="signup" class="btn btn-dark btn-lg">Get Started</a>

        <br><br>

        <a class="btn btn-outline-dark btn-lg" href="login">Log In</a>

      </div>

    </div>

</footer>

<div class="copy">

  <p>
    <a href="#" class="copy-link">
      © 2023 Copyright Mpower
    </a>
  </p>

</div>

</body>

</html>