<footer>

  <hr>

  <div class="container-fluid">

    <div class="footer-header">

      <a href="/">

        <i class="fa-solid fa-hand-fist"></i>

        MPOWER

      </a>

    </div>

    <p class="footer-p">

      <a href="/">

        Fighting drug abuse for a healthier, happier world.

      </a>

    </p>

  </div>

</footer>

</body>

</html>