<div class="col-lg-4">

    <div class="footer-header">MORE INFO</div>

    <p class="footer-link">
        <a href="commonly-abused">Commonly Abused Drugs</a>
    </p>

    <p class="footer-link">
        <a href="effects">Effects of Drug Abuse</a>
    </p>

    <p class="footer-link">
        <!-- <a href="resources">Drug Abuse Resources</a> -->
        <a href="causes">Causes of Drug Abuse</a>
    </p>

    <p class="footer-link">
        <!-- <a href="stats">Statistics</a> -->
        <a href="co-occurring">Co-occurring Conditions</a>
    </p>

</div>

</div>

</footer>

</body>

</html>