<footer>

  <hr>

  <br>

  <div class="container-fluid">

    <div class="row">

      <div class="col-lg-5 text-left">

        <div class="footer-header">

          <a href="/">
            <i class="logo fa-solid fa-hand-fist"></i>
            MPOWER
          </a>

        </div>

        <p class="footer-p">

          Fighting drug abuse for a healthier, happier world.

        </p>

      </div>

      <div class="col-lg-3">

        <div class="footer-header">HELPFUL LINKS</div>

        <p class="footer-link">
          <a href="mindfulness">Mindfulness</a>
        </p>

        <p class="footer-link">
          <a href="goals">Goal Setting</a>
        </p>

        <p class="footer-link">
          <a href="journals">Journaling</a>
        </p>

      </div>

      <%- include("footer") -%>