<footer>

  <hr>

  <br>

  <div class="container-fluid">

    <div class="row">

      <div class="col-lg-5 text-left">

        <div class="footer-header">

          <a href="/">
            <i class="logo fa-solid fa-hand-fist"></i>
            MPOWER
          </a>

        </div>

        <p class="footer-p">

          Fighting drug abuse for a healthier, happier world.

        </p>

        <br>

        <a class="btn btn-dark" href="signup" id="footer-btn">Sign Up</a>

        <a class="btn btn-outline-primary" href="login">Log In</a>

      </div>

      <div class="col-lg-3">

        <div class="footer-header">HELPFUL LINKS</div>

        <p class="footer-link">
          <a href="about">About Mpower</a>
        </p>

        <p class="footer-link">
          <a href="solution">Our Solution</a>
        </p>

        <p class="footer-link">
          <a href="contact">Contact Us</a>
        </p>

      </div>

      <%- include("footer") -%>