<footer>

    <hr>
  
    <div class="container-fluid">
  
      <div class="footer-header">
  
        <a href="/">
          <i class="fa-solid fa-hand-fist"></i>
          MPOWER
        </a>
  
      </div>
  
      <p class="footer-p">
  
        Fighting drug abuse for a healthier, happier world.
  
      </p>
  
    </div>
  
  </footer>
  
  </body>
  
  </html>