<%- include("header") -%>

  <li class="nav-item">
    <a class="nav-link" href="motivation">Motivation</a>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="tasks">Tasks</a>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="resources">More Info</a>
  </li>

  <li class="nav-item nav-btn">
    <a class="btn btn-dark" href="journals">Journals</a>
  </li>

  </ul>

  </div>

  </nav>

  </div>