<main class="container-fluid resources">

    <h1 class="big-heading">History of Drug Abuse</h1>

    <p>

        Over the last two decades, the United States has seen significant changes in drug abuse patterns. Below are some
        of the key trends:

    </p>

    <ul class="resources-ul">

        <li>

            <span>Opioid epidemic</span>: In the late 1990s, a surge in opioid addiction began due to over-prescription
            of opioid painkillers. This epidemic has since worsened, with the availability of illicit opioids like
            heroin and fentanyl contributing to the problem. The result has been a significant increase in overdose
            deaths, leading to widespread efforts to improve access to addiction treatment and overdose prevention
            strategies.

        </li>

        <li>

            <span>Marijuana use</span>: Legalization of recreational marijuana in some states has led to an increase in
            marijuana use. However, laws and attitudes around marijuana vary widely across different states.

        </li>

        <li>

            <span>Cocaine use</span>: Cocaine use has declined somewhat in recent years, but it remains a significant
            problem in many ts of the United States. Cocaine is often associated with other drug use, such as
            methamphetamine or prescription opioids.

        </li>

        <li>

            <span>Methamphetamine use</span>: Methamphetamine use has been increasing in rural areas of the United
            States. This highly addictive drug can cause severe physical and psychological damage, and is often produced
            in illicit labs with dangerous chemicals.

        </li>

        <li>

            <span>Prescription drug abuse</span>: Prescription drug abuse is still a significant problem, particularly
            with opioids and benzodiazepines. Efforts to reduce over-prescription and increase access to addiction
            treatment are ongoing.

        </li>

        <li>

            <span>Designer drugs</span>: The use of synthetic cannabinoids and cathinones, also known as "bath salts,"
            has been increasing in recent years. These drugs can be highly potent and unpredictable, posing serious
            health risks.

        </li>

    </ul>

    <p>

        In conclusion, drug abuse patterns in the United States have been marked by significant changes in drug policy
        and attitudes, as well as the emergence of new and dangerous drugs. To address this problem, prevention,
        treatment, and education are needed, along with addressing the underlying social and economic factors that
        contribute to drug use and addiction.

    </p>

    <img src="imgs/drug.png" class="img" alt="drug abuse">

</main>

<br><br><br>

<%- include("footer") -%>