<main class="container-fluid info">

    <h1 class="big-heading">More Info</h1>

    <div class="row">

        <div class="col-lg-4">

            <a class="btn btn-lg btn-outline-dark" href="drug-abuse">What is Drug Abuse?</a>

        </div>

        <div class="col-lg-4">

            <a class="btn btn-lg btn-outline-dark" href="commonly-abused">Commonly Abused Drugs</a>

        </div>

        <div class="col-lg-4">

            <a class="btn btn-lg btn-outline-dark" href="causes">Causes of Drug Abuse</a>

        </div>

    </div>

    <br><br>

    <div class="row">

        <div class="col-lg-4">

            <a class="btn btn-lg btn-outline-dark" href="symptoms">Symptoms of Drug Abuse</a>

        </div>

        <div class="col-lg-4">

            <a class="btn btn-lg btn-outline-dark" href="effects">Effects of Drug Abuse</a>

        </div>

        <div class="col-lg-4">

            <a class="btn btn-lg btn-outline-dark" href="withdrawal">Drug Withdrawal</a>

        </div>

    </div>

    <br><br>

    <div class="row">

        <div class="col-lg-4">

            <a class="btn btn-lg btn-outline-dark" href="history">History of Drug Abuse</a>

        </div>

        <div class="col-lg-4">

            <a class="btn btn-lg btn-outline-dark" href="overdose">Overdose Prevention</a>

        </div>

        <div class="col-lg-4">

            <a class="btn btn-lg btn-outline-dark" href="treatment">Drug Abuse Treatment</a>

        </div>

    </div>

    <br><br>

    <div class="row">

        <div class="col-lg-4">

            <a class="btn btn-lg btn-outline-dark" href="prevention">Drug Abuse Prevention</a>

        </div>

        <div class="col-lg-4">

            <a class="btn btn-lg btn-outline-dark" href="resources">Resources</a>

        </div>

        <div class="col-lg-4">

            <a class="btn btn-lg btn-outline-dark" href="stats">Statistics</a>

        </div>

    </div>

    <br><br>

    <div class="row">

        <div class="col-lg-4">

            <a class="btn btn-lg btn-outline-dark" href="co-occurring">Co-occurring Conditions</a>

        </div>

        <div class="col-lg-4">

            <a class="btn btn-lg btn-outline-dark" href="current-work">Current Work</a>

        </div>

        <div class="col-lg-4">

            <a class="btn btn-lg btn-outline-dark" href="get-help">How to Seek Help</a>

        </div>

    </div>

</main>

<br><br><br>