<%- include("navbar") -%>

  <li class="nav-item">
    <a class="nav-link" href="about">About</a>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="solution">The Approach</a>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="contact">Contact</a>
  </li>

  <li class="nav-item nav-btn">
    <a class="btn btn-dark" href="signup">Get Started</a>
  </li>

  </ul>

  </div>

  </nav>

  </div>