<%- include("navbar") -%>

  <li class="nav-item">
    <a class="nav-link" href="mindfulness">Mindfulness</a>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="goals">Goal Setting</a>
  </li>

  <li class="nav-item nav-btn">
    <a class="btn btn-dark" href="journals">Journal</a>
  </li>

  </ul>

  </div>

  </nav>

  </div>