<main class='container-fluid resources'>

    <h1 class='big-heading'>Overdose Prevention</h1>

    <p>

        Overdose occurs when someone consumes too much of a substance, leading to harmful symptoms or death. This can
        happen with various drugs, including recreational, over-the-counter, or prescribed medications. Some drugs, like
        opioids, are central nervous system depressants that slow down normal functions like breathing and heart rate,
        while others, like amphetamines, cocaine, and MDMA, speed up the central nervous system and increase the risk of
        heart attack, stroke, or seizure.

        <br><br>

        Overdoses can have serious consequences, including permanent brain injury or death. To prevent an overdose,
        educate yourself about substance risks, use substances responsibly, and never mix them. Keep track of your
        dosage and start with a small amount to gauge your tolerance. If using opioids, have naloxone on hand. Substance
        abuse is a serious issue and seeking help is the best way to prevent an overdose.

    </p>

    <img src='imgs/overdose.png' alt='overdose' class='img'>

    <h2 class='section-heading'>Opioids</h2>

    <p>

        Recognizing an opioid overdose can be a challenging task, but it's crucial to act quickly if you suspect someone
        is experiencing one. It's better to err on the side of caution and take prompt action, as it could potentially
        save a life.

        <br><br>

        If you suspect someone is experiencing an opioid overdose, call 911 or seek medical attention immediately. Stay
        with the person and monitor their breathing and consciousness until help arrives. Administering naloxone, an
        overdose reversal medication, can be lifesaving, so if it's available, don't hesitate to use it.

        <br><br>

        Symptoms of an opioid overdose can include shallow breathing, dilated pupils, cold and moist skin, blue-tinged
        skin, weak pulse, loss of consciousness, stomachache, confusion, chest pain, unresponsiveness, shallow or
        irregular breathing, slow heart rate, choking or gurgling sounds, purple lips and fingernails, clammy skin, low
        body temperature, vomiting, seizures, and loss of coordination.

        <br><br>

        Mixing opioid drugs such as heroin, Oxycontin, Fentanyl, Morphine, Vicodin, and Percocet with other central
        nervous system depressants like alcohol and benzodiazepines such as Xanax, Klonopin, Valium, and Ativan can be
        especially dangerous because they all slow down breathing, blood pressure, heart rate, and body temperature. An
        opioid overdose can lead to oxygen deprivation, brain damage, and death. Be aware of the risks involved in
        mixing substances and take steps to prevent harm.

    </p>

    <img src='imgs/narcan.png' alt='narcan' class='img'>

    <h2 class='section-heading'>Stimulants</h2>

    <p>

        Overamping is an overdose on a stimulant. It is a dangerous side effect of excessive
        stimulant use, including prescription drugs like Adderall, illegal drugs like cocaine and methamphetamine, and
        high doses of caffeine. Symptoms may include anxiety, panic attacks, palpitations, and chest pain. Overamping
        can cause long-term damage to the body and is a strong indication of stimulant addiction. If someone is
        overamping, it is essential to seek emergency attention immediately by calling 911.

        <br><br>

        Speedballing, the practice of mixing opioids with stimulants, is a dangerous combination that can increase the
        risk of overdose. Contrary to popular belief, opioids and stimulants do not balance each other out and can
        increase the risk of overdose.

        <br><br>

        If someone experiences a stimulant overdose, call 911 immediately. There is no antidote to stimulant overdose,
        and naloxone will not work for this type of overdose. While waiting for medical help to arrive, stay with the
        individual, provide support, encourage hydration, and remain calm.

        <br><br>

        To prevent overamping, it is important to stay hydrated, replenish electrolytes, get enough sleep, eat
        nutritious foods, and be honest with your healthcare provider about your stimulant use. If someone is
        overamping, seek medical help immediately, especially if they are experiencing chest pain.

    </p>

    <img src='imgs/overamping.png' alt='overamping' class='img'>

    <h2 class='section-heading'>Alcohol</h2>

    <p>

        Alcohol poisoning, also known as acute alcohol intoxication, occurs when a person consumes a significant amount
        of alcohol within a short period. This hazardous condition can cause essential body functions to shut down since
        alcohol is a depressant that slows down brain function. Symptoms of alcohol poisoning include confusion,
        disorientation, vomiting, seizures, slow or irregular breathing, low body temperature, blue or pale skin, and
        unconsciousness or coma.

        <br><br>

        Seeking prompt medical attention is crucial to prevent respiratory failure, brain damage, or even death. Young
        adults and women who binge drink are at higher risk of developing alcohol poisoning. To prevent alcohol
        poisoning, it is essential to drink in moderation, know your limits, stay hydrated, eat before drinking, and
        avoid combining alcohol with other drugs.

        <br><br>

        In case of suspected alcohol poisoning, call 911 without delay. Do not leave an unconscious individual alone or
        attempt to induce vomiting. Instead, place them on the ground in a sitting or partially upright position,
        leaning forward if vomiting, and rolled onto one side if unconscious.

    </p>

    <img src='imgs/alcohol-poisoning.png' alt='alcohol poisoning' class='img'>

</main>

<br><br><br>