<main class="container-fluid resources">

    <h1 class="future-heading">Overdose Prevention</h1>

    <h1>PICTURES & VIDEO</h1>

    <br>

    <p>

        Overdose occurs when someone consumes too much of a substance, leading to harmful symptoms or death. This can
        happen with various drugs, including recreational, over-the-counter, or prescribed medications. Some drugs, like
        opioids, are central nervous system depressants that slow down normal functions like breathing and heart rate,
        while others, like amphetamines, cocaine, and MDMA, speed up the central nervous system and increase the risk of
        heart attack, stroke, or seizure.

        <br><br>

        Overdoses can have serious consequences, including permanent brain injury or
        death. To prevent an overdose, educate yourself about substance risks, use substances responsibly, and never mix
        them. Keep track of your dosage and start with a small amount to gauge your tolerance. If using opioids, have
        naloxone on hand. If struggling with substance abuse, seek help through therapy, support groups, or
        rehabilitation programs. Properly dispose of unused medications to prevent misuse. Substance abuse is a serious
        issue and seeking help is the best way to prevent an overdose.


        <br><br>

        Tolerance refers to the body's adaptation to a
        substance over time, causing a person to increase their dosage to achieve the same effects. Different organs,
        like the brain and liver, may develop tolerance at different rates and factors like genetics and living
        situations can also affect tolerance. Consuming large amounts of alcohol or drugs regularly can lead to organ
        damage and potentially fatal conditions.

    </p>

    <h2 class="future-sec-heading">Opioids</h2>

    <br>

    <p>

        If you suspect someone is experiencing an overdose, seek medical attention immediately. Overdose occurs when a
        person takes too much of a substance and can lead to harmful symptoms or death. Narcotic medications like
        hydrocodone are central nervous system depressants that can slow down heart rate and breathing, and symptoms may
        include shallow breathing, dilated pupils, cold and moist skin, blue-tinged skin, weak pulse, loss of
        consciousness, stomachache, confusion, and chest pain. 
        
        <br><br>
        
        Opioid overdose symptoms may include unresponsiveness,
        shallow or irregular breathing, slow heart rate, choking or gurgling sounds, purple lips and fingernails, clammy
        skin, low body temperature, vomiting, seizures, and loss of coordination.
        
        <br><br>

        Mixing opioid drugs such as heroin,
        Oxycontin, Fentanyl, Morphine, Vicodin, and Percocet with other central nervous system depressants such as
        alcohol and benzodiazepines like Xanax, Klonopin, Valium, and Ativan can be particularly dangerous because they
        all slow down breathing, blood pressure, heart rate, and body temperature. Opioid overdose can lead to oxygen
        deprivation, brain damage, and death.

    </p>

</main>

<br><br><br>