<main class="container-fluid resources">

    <h1 class="big-heading">Drug Abuse Prevention</h1>

    <p>

        Preventing drug abuse is a critical issue that can be addressed in several ways. One approach is to understand
        and address the risk factors for drug use, such as peer pressure, stress, and availability of drugs. Prevention
        programs can work to reduce these risk factors and boost protective factors, such as strong family bonds,
        academic achievement, and involvement in positive activities.

        <br><br>

        Providing education and support to individuals and communities is another key aspect of drug abuse prevention.
        This can include information on the dangers of drug use and resources for finding help if necessary. Prevention
        programs can also work to strengthen protective factors by offering resources and support to families, schools,
        and communities.

    </p>

    <img src="imgs/stop-drug-abuse.webp" alt="stop drug abuse" class="img">

    <p>

        Many organizations focus on substance abuse prevention. For example, the Substance Abuse and Mental
        Health Services Administration (SAMHSA) has several initiatives aimed at preventing substance use and mental
        disorders. These initiatives include providing education and support to individuals and communities, as well as
        developing comprehensive systems for prevention through national leadership in policy, program, and service
        development.

        <br><br>

        The National Institute on Drug Abuse (NIDA) also has resources for preventing drug misuse and addiction. NIDA
        promotes research-based programs that have been shown to significantly reduce the early use of tobacco, alcohol,
        and other drugs. These programs are designed to positively alter the balance between risk and protective factors
        for drug use in families, schools, and communities.

    </p>

    <img src="imgs/drug-free.webp" alt="drug free" class="img">

    <p>

        Prevention efforts may focus on the individual or their surroundings. For example, individual substance abuse
        prevention may involve sessions tailored to the specific needs of the individual to help cease or reduce
        substance use. Prevention can also include actions aimed at reducing supply by decreasing the availability of
        substances.

        <br><br>

        In summary, there are many approaches to substance abuse prevention, including understanding risk factors,
        providing education and support, strengthening protective factors, and developing action plans. Organizations
        such as SAMHSA and NIDA offer resources for preventing substance use and mental disorders.

    </p>

    <img src="imgs/prevention.webp" alt="prevention" class="img">

</main>

<br><br><br>

<%- include("footer") -%>