<main class="container-fluid resources">

    <h1 class="future-heading">More Information</h1>

    <h1>UPDATE THE STATISTICS</h1>
    <h1>PICTURES & VIDEO</h1>

    <br>

    <h2 class="future-sec-heading">Causes of Drug Abuse</h2>

    <br>

    <p>



    </p>

    <br><br>

    <h2 class="future-sec-heading">Effects of Drug Abuse</h2>

    <br>

    <p>brain & body & other functions</p>

    <br><br>

    <h2 class="future-sec-heading">Prevalence of Drug Abuse</h2>

    <br>

    <p>in different groups</p>

    <br><br>

    <h2 class="future-sec-heading">Societal Impact of Drug Abuse</h2>

    <br>

    <p></p>

    <br><br>

    <h2 class="future-sec-heading">History of Drug Abuse</h2>

    <br>

    <p></p>

    <br><br>

    <h2 class="future-sec-heading">Drug Abuse Over Time</h2>

    <br>

    <p></p>

    <br><br>

    <h2 class="future-sec-heading">Co-ocurring Conditions</h2>

    <br>

    <p></p>

    <br><br>

    <h2 class="future-sec-heading">Drug Abuse Treatment</h2>

    <br>

    <p></p>

    <br><br>

    <h2 class="future-sec-heading">Drug Abuse Prevention</h2>

    <br>

    <p></p>

    <br><br>

    <h2 class="future-sec-heading">What's Being Done Now</h2>

    <br>

    <p></p>

    <br><br>

    <h2 class="future-sec-heading">Overdose Prevention</h2>

    <br>

    <p></p>

    <br><br>

    <h2 class="future-sec-heading">Resources</h2>

    <br>

    <p>support groups, phone #s, link to columbus recovery center, treatment centers, talk to someone now, book an
        appointment, 988, 211</p>

    <br><br>

    <h2 class="future-sec-heading">Graphs & Charts</h2>

    <br>

    <p>usage of specific drugs over time, comparison of use between drugs</p>

    <br><br>

    <hr>

    <p>

        Alcohol and drug abuse can increase the underlying risk for mental disorders. Since mental health
        problems are caused by a complex interplay of genetics, the environment, and other factors, it's
        difficult to say if abusing drugs ever directly causes them. However, if you are at risk for a
        mental health issue, abusing alcohol or drugs may push you over the edge. For example, there is some
        evidence that those who abuse opioid painkillers are at greater risk for depression and heavy cannabis
        use has been linked to an increased risk for schizophrenia.

    </p>

    <br><br>

    <h2 class="future-sec-heading">Statistics:</h2>

    <h3 class="stats">62%</h3>
    <p class="stats-info">12th graders have abused alcohol</p>

    <h3 class="stats">50%</h3>
    <p class="stats-info">Teenagers have misused a drug at least once</p>

    <h3 class="stats">47%</h3>
    <p class="stats-info">12th graders have tried illegal drugs</p>

</main>

<br><br><br>