<main class="container-fluid resources">

    <h1 class="big-heading">Resources</h1>

    <div class="row">

        <div class="col-lg-6">

            <div>

                <h3 class="resources-header">

                    <a href="https://www.thedoorway.nh.gov/">The Doorway</a>

                </h3>

                <p>

                    The Doorway is a NH program that helps people with substance use disorders access treatment by
                    calling 211 or using the Doorway locator map to find a location at one of nine trusted community
                    hospitals in New Hampshire.

                </p>

            </div>

            <div>

                <h3 class="resources-header">

                    <a href="https://www.nh988.com/">NH 988</a>

                </h3>

                <p>

                    NH988 is a three-digit code for people in New Hampshire experiencing a crisis related to mental
                    health, substance misuse, or suicide and can be reached by calling or texting 833-710-6477 or
                    visiting NH988.com.

                </p>

            </div>

            <div>

                <h3 class="resources-header">

                    <a href="https://www.211nh.org/">NH 211</a>

                </h3>

                <p>

                    NH 211 is a 24/7 helpline that connects New Hampshire residents to health and human service
                    resources. For those outside of New Hampshire, call 1.866.444.4211.

                </p>

            </div>

        </div>

        <div class="col-lg-6">

            <div>

                <h3 class="resources-header">

                    <a href="https://nosafeexperience.org/">No Safe Experience</a>

                </h3>

                <p>

                    “No Safe Experience” is a public awareness campaign launched by Governor Chris Sununu of New
                    Hampshire to alert individuals that there is no safe experience when consuming any drugs that have
                    not been prescribed by a medical provider.

                </p>

            </div>

            <div>

                <h3 class="resources-header">

                    <a href="https://www.zocdoc.com/procedure/addiction-substance-abuse-177">Book an Appointment</a>

                </h3>

                <p>

                    Zocdoc is a free online service that helps patients find and book appointments with doctors for
                    Addiction / Substance Abuse treatment.

                </p>

            </div>

            <div>

                <h3 class="resources-header">

                    <a href="https://findtreatment.gov/locator">Treatment Centers Near You</a>

                </h3>

                <p>

                    FindTreatment.gov is a confidential and anonymous resource for finding treatment facilities for
                    mental and substance use disorders in the United States and its territories.

                </p>

            </div>

        </div>

    </div>

</main>

<iframe class="arcgis" src="https://bit.ly/nh-mental-health-resources" frameborder="0" allowfullscreen
    allow="geolocation"></iframe>

<br><br><br>

<%- include("footer") -%>