<main class="container-fluid resources">

    <h1 class="big-heading">Resources</h1>

    <iframe class="arcgis" src="https://bit.ly/nh-mental-health-resources" frameborder="0" allowfullscreen
        allow="geolocation"></iframe>

    <p>

        support groups, phone #s, link to columbus recovery center, treatment centers, talk to someone now, book an
        appointment, 988, 211

        trevor project, suicide hotline, crisis textline, nextstep.health, next.step.health care map

    </p>

</main>

<br><br><br>

<%- include("footer") -%>