<main class="container-fluid resources">

    <h1 class="big-heading">Resources</h1>

    <h3>

        <a href="https://www.thedoorway.nh.gov/">The Doorways Program:</a>

    </h3>

    <p class="resources-p">

        NH Doorways is a program that helps people with substance use disorders access treatment by calling 211 or using
        the Doorway locator map to find a location at one of nine trusted community hospitals in New Hampshire.

    </p>

    <h3>

        <a href="https://www.nh988.com/">NH 988:</a>

    </h3>

    <p class="resources-p">

        NH988 is a three-digit code for people in New Hampshire experiencing a crisis related to mental health,
        substance misuse, or suicide, and can be reached by calling or texting 833-710-6477 or visiting NH988.com.

    </p>

    <h3>

        <a href="https://www.nh988.com/">NH 211:</a>

    </h3>

    <p class="resources-p">

        NH 211 is a 24/7 helpline that connects New Hampshire residents to health and human service resources. For those
        outside of New Hampshire, call 1.866.444.4211.

    </p>


    <p>
        support groups, phone #s, link to columbus recovery center, treatment centers, talk to someone now, book an
        appointment, 988, 211

        trevor project, suicide hotline, crisis textline, nextstep.health, next.step.health care map

    </p>

    <iframe class="arcgis" src="https://bit.ly/nh-mental-health-resources" frameborder="0" allowfullscreen
        allow="geolocation"></iframe>



</main>

<br><br><br>

<%- include("footer") -%>