<main class="container-fluid resources">

    <h1 class="big-heading">Statistics</h1>

    <p>graphs & charts & breakdowns</p>

    <p>usage of specific drugs over time, comparison of use between drugs</p>

</main>

<br><br><br>

<%- include("footer") -%>