<main class="container-fluid resources">

    <h1 class="big-heading">Statistics</h1>

    <h1>PICTURES & VIDEO</h1>

    <br>

    <p>graphs & charts & breakdowns</p>

    <p>usage of specific drugs over time, comparison of use between drugs</p>

    <h3 class="stats">62%</h3>
    <p class="stats-info">12th graders have abused alcohol</p>

    <h3 class="stats">50%</h3>
    <p class="stats-info">Teenagers have misused a drug at least once</p>

    <h3 class="stats">47%</h3>
    <p class="stats-info">12th graders have tried illegal drugs</p>

</main>

<br><br><br>

<%- include("footer") -%>