<main class="container-fluid resources">

    <h1 class="big-heading">Symptoms of Drug Abuse</h1>

    <p>

        Identifying signs of drug addiction and use can be challenging, but early recognition is crucial to prevent
        long-term harm. Some signs of drug addiction include regularly using the drug, intense cravings, increasing drug
        use over time, taking larger doses than intended, ensuring a steady supply, spending money despite financial
        difficulties, neglecting work or social responsibilities, continuing to use despite problems, engaging in risky
        behaviors, spending a significant amount of time on the drug, failing to stop despite attempts to quit, and
        experiencing withdrawal symptoms.

        <br><br>

        Signs of drug use in teenagers or family members may include frequent absences, physical health issues,
        neglecting appearance, being secretive, drastic behavior changes, and missing money or items from the home.

    </p>

    <div class="center">
        <img src="imgs/addiction.jpeg" alt="symptoms" class="img">
    </div>

    <p>

        Signs and symptoms of drug use or intoxication vary depending on the drug. For example, marijuana can cause
        euphoria, increased heart rate, dry mouth, and decreased coordination, while K2 or bath salts can cause extreme
        anxiety or agitation, hallucinations, and violent behavior.

        <br><br>

        It's essential to seek professional help for drug addiction or use since substance use disorders can have severe
        consequences on a person's health and life. Some warning signs of addiction include continuing to use drugs
        despite negative consequences, strong cravings or urges, neglecting responsibilities or relationships,
        developing a tolerance, and experiencing withdrawal symptoms.

        <br><br>

        If you or someone you know is struggling with addiction or drug use, seeking help from a healthcare provider or
        mental health professional is crucial. Addiction is treatable, and there are many resources available to help
        overcome it.

    </p>

    <div class="center">
        <img src="imgs/addiction-2.jpeg" alt="addiction" class="img">
    </div>


</main>

<br><br><br>