<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Commonly Abused Drugs</title>

    <%- include("../partials/navbar-1") -%>

        <%- include("../partials/commonly-abused") -%>

            <%- include("../partials/footer") -%>