<!DOCTYPE html>
<html lang='en'>

<head>
    <meta charset='utf-8'>
    <title>What is Drug Abuse?</title>

    <%- include('../partials/navbar-2') -%>

        <%- include('../partials/drug-abuse') -%>

            <%- include('../partials/footer') -%>