<!DOCTYPE html>
<html lang='en'>

<head>
    <meta charset='utf-8'>
    <title>Effects of Drug Abuse</title>

    <%- include('../partials/navbar-1') -%>

        <%- include('../partials/effects') -%>

            <%- include('../partials/footer') -%>