<!DOCTYPE html>
<html lang='en'>

<head>
    <meta charset='utf-8'>
    <title>How to Seek Help</title>

    <%- include('../partials/navbar-2') -%>

        <%- include('../partials/get-help') -%>

            <%- include('../partials/footer') -%>