<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>History of Drug Abuse</title>

    <%- include("../partials/navbar-2") -%>

        <%- include("../partials/history") -%>