<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Overdose Prevention</title>

    <%- include("../partials/navbar-2") -%>

        <%- include("../partials/overdose") -%>

            <%- include("../partials/footer") -%>