<!DOCTYPE html>
<html lang='en'>

<head>
    <meta charset='utf-8'>
    <title>Resources</title>

    <%- include('../partials/navbar-2') -%>

        <%- include('../partials/resources') -%>

            <%- include('../partials/footer') -%>