<!DOCTYPE html>
<html lang='en'>

<head>
    <meta charset='utf-8'>
    <title>Drug Abuse Statistics</title>

    <%- include('../partials/navbar-2') -%>

        <%- include('../partials/stats') -%>

            <%- include('../partials/footer') -%>