<!DOCTYPE html>
<html lang='en'>

<head>
    <meta charset='utf-8'>
    <title>Drug Abuse Withdrawal</title>

    <%- include('../partials/navbar-1') -%>

        <%- include('../partials/withdrawal') -%>

            <%- include('../partials/footer') -%>