<%- include("partials/header-1") -%>

  <main class="container-fluid about">

    <br>

    <h1 class="future-heading">Mpower: Path to Recovery</h1>

    <br>

    <p>
      Mpower was founded by Narayan Sajeev, a junior at Nashua High School South, in response to the high rates of
      substance abuse among youth in NH. Narayan has personally witnessed the impact of substance abuse and was
      motivated to do something about it.

      <br><br>

      He created Mpower as a way to address the growing overdose epidemic and provide support to individuals and
      families affected by substance abuse and addiction. If you or a loved one is struggling with substance abuse,
      don't hesitate to contact Mpower for more information and support.

    </p>

    <br><br>

    <h2 class="future-sec-heading">How does Mpower work?</h2>

    <br>

    <p>
      Mpower is an organization that offers a range of resources and support to help individuals and families affected
      by substance abuse and addiction achieve lasting recovery. Our approach includes the use of daily journal prompts
      and quotes to help individuals take control of their thoughts and emotions.

      <br><br>

      We also provide in-depth information and support for those affected by substance abuse and the drug epidemic, as
      well as access to counseling services and medical professionals to increase access to resources and support. Our
      journal storage feature allows individuals to track their progress and reflect on their growth over time.
    </p>

    <br><br>

    <h2 class="future-sec-heading">Starting Your Journey with Mpower</h2>

    <br>

    <p>

      Mpower is a free resource that helps people recover from substance abuse. To get started, simply create an account
      by clicking the button below. On the website, you can learn about our approach, read about others'
      experiences, and access daily journal prompts and storage to manage your thoughts and emotions, track your
      progress, and reflect on your growth.

      <br><br>

      Take the first step and create an account now.

    </p>

    <br><br>

    <a class="btn btn-dark btn-lg signup-btn" href="signup">Get Started</a>

  </main>

  <br><br><br>

  <%- include("partials/footer") -%>