<%- include("partials/navbar") -%>

  <main class="container-fluid about">

    <br>

    <h1 class="future-heading">Mpower: Path to Recovery</h1>

    <br>

    <p>
      Mpower was founded by Narayan Sajeev, a junior at Nashua High School South, in response to the high rates of
      drug abuse among youth in NH. Narayan has personally witnessed the impact of drug epidemic and was
      motivated to do something about it.

      <br><br>

      He created Mpower as a way to address the growing overdose epidemic and provide support to individuals and
      families affected by drug abuse. If you or a loved one is struggling with drug abuse,
      don't hesitate to contact Mpower for more information and support.

    </p>

    <img src="imgs/recovery.jpeg" alt="recovery" class="recovery-img">

    <h2 class="future-sec-heading">How Does Mpower Work?</h2>

    <br>

    <p>
      Mpower is an organization that offers a range of resources and support to help individuals and families affected
      by drug abuse achieve lasting recovery. Our approach includes the use of daily journal prompts and quotes to
      help individuals take control of their thoughts and emotions.

      <br><br>

      We also provide in-depth information and support for those affected by drug abuse, as well as access to
      counseling services and medical professionals to increase access to resources and support. Our
      journal storage feature allows individuals to track their progress and reflect on their growth over time.
    </p>

    <img src="imgs/mental-health.jpg" alt="mental-health" class="mental-health-img">

    <h2 class="future-sec-heading">Starting Your Journey with Mpower</h2>

    <br>

    <p>

      Mpower is a free resource that helps people recover from drug abuse. To get started, simply create an account
      by clicking the button below.

      <br><br>

      On the website, you can learn about our approach, read about others' experiences, and access daily journal prompts
      and storage to manage your thoughts and emotions, track your progress, and reflect on your growth.

      <br><br>

      Take the first step and create an account now.

    </p>

    <br><br>

    <div class="about-btn">
      <a class="btn btn-dark btn-lg" href="signup">Get Started</a>
    </div>

  </main>

  <br><br><br>

  <%- include("partials/footer-1") -%>