<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>About Mpower</title>

  <%- include("partials/navbar-1") -%>

    <main class="container-fluid about">

      <h1 class="big-heading">Mpower: Path to Recovery</h1>

      <p>

        Mpower was founded by Narayan Sajeev, a senior at Nashua High School South, to address the high rates of drug
        abuse among youth in New Hampshire. Driven by the personal impact of the drug epidemic, Narayan established
        Mpower to offer support to those affected by drug abuse.

        <br><br>

        The name Mpower embodies Narayan's conviction that empowering oneself to take control of thoughts and emotions
        is the first step towards lasting recovery. If you or someone you know is struggling with drug abuse, don't
        hesitate to <a href="contact">contact Mpower</a> for more information and support.

      </p>

      <img src="imgs/recovery.webp" alt="recovery" class="img">

      <h2 class="section-heading">How Does Mpower Work?</h2>

      <p>

        Mpower is a website that provides a variety of resources and support to help individuals and families affected
        by drug abuse achieve lasting recovery. Our approach includes journal prompts and quotes to help individuals
        take control of their thoughts and emotions.

        <br><br>

        In addition, Mpower offers in-depth information and support, as well as access to counseling services and
        medical professionals to increase access to resources and support. Our journal storage feature allows
        individuals to track their progress and reflect on their growth over time.

      </p>

      <img src="imgs/mental-health.webp" alt="mental health" class="img">

      <h2 class="section-heading">Starting Your Journey with Mpower</h2>

      <p>

        Mpower is a free resource that helps individuals recover from drug abuse. To begin, simply create an account by
        clicking the button below.

        <br><br>

        On our website, you can learn about Mpower's approach, read about the experiences of others, and access daily
        journal prompts and storage to manage your thoughts and emotions, track your progress, and reflect on your
        growth.

      </p>

    </main>

    <br><br><br>

    <%- include("partials/footer") -%>