<%- include("partials/header") -%>

  <main class="container-fluid">

    <h1>What is Website?</h1>

    <br><br>

    <p>
      NH youth has one of the highest rates of substance abuse in the country. To help chip away at the growing issue
      of substance abuse, Narayan Sajeev made Website. Using Website, Narayan hopes to do his part in fighting the
      growing overdose epidemic.
    </p>

    <br><br>

    <h2>FAQs</h2>

    <br><br>

    <h4>How does Website work?</h4>

    <br>

    <p>
      Website uses strategies such as prompts and quotes to help a
      person suffering from substance abuse regain control over their emotions and wellbeing.
    </p>

    <br><br>

    <h4>How can I get started on Website?</h4>

    <br>

    <p>
      The great news is: getting started on Website is free! You can start by creating an account by clicking the button
      below:
    </p>

    <br><br>

    <a class="btn btn-dark btn-lg signup-btn" href="signup">Get Started</a>

  </main>

  <br>

  <%- include("partials/footer") -%>