<%- include("partials/header") -%>

  <br>

  <main>

    <h1>Website was made by Narayan Sajeev.</h1>

    <br><br>

    <h3>FAQs</h3>

    <br>

    <h4>Is website good?</h4>

    <br>

    <p>Yes</p>

  </main>

  <br><br>

  <%- include("partials/footer") -%>