<%- include("partials/header") -%>

  <main class="container-fluid">

    <h1 class="future-heading">What is Mpower?</h1>

    <p>
      NH youth has one of the highest rates of substance abuse in the country. To help chip away at the growing issue
      of substance abuse, Narayan Sajeev made Mpower. Using Mpower, Narayan hopes to do his part in fighting the
      growing overdose epidemic.
    </p>

    <br><br><br>

    <h2 class="future-sec-heading">How does Mpower work?</h2>

    <br>

    <p>
      Mpower uses strategies such as journals and quotes to help a
      person suffering from substance abuse regain control over their emotions and wellbeing.
    </p>

    <br><br><br>

    <h2 class="future-sec-heading">How can I get started on Mpower?</h2>

    <br>

    <p>
      The great news is: getting started on Mpower is free! You can start by creating an account by clicking the button
      below:
    </p>

    <br><br>

    <a class="btn btn-dark btn-lg signup-btn" href="signup">Get Started</a>

  </main>

  <br>

  <%- include("partials/footer") -%>