<%- include("partials/header-2") -%>

    <br><br>

    <main>

        <h1>Booking:</h1>

        <br>

        <form action="/appointment" method="post">

            <div class="form-group">

                <label>Do you want to book an appointment?</label>

                <br><br>

                <input type="email" class="form-control textbox" placeholder="Enter email" required autofocus>

            </div>

            <br>

            <button type="submit" class="btn btn-dark btn-lg">Book</button>

        </form>

    </main>

    <br>

    <%- include("partials/footer") -%>