<%- include("partials/navbar") -%>

  <main>

    <div class="container-fluid">

      <div class="row">

        <div class="col-lg-6 contact">

          <h1 class="future-heading">Contact Info</h1>

          <br>

          <p>
            <strong>Email:</strong> <a href="mailto:narayansajeev3@email.com">narayansajeev3@gmail.com</a>
          </p>

          <br>

          <p>
            <strong>Address:</strong> Nashua, NH
          </p>

        </div>

        <div class="col-lg-6">

          <div class="map-container">

            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d93749.8084929406!2d-71.5667500758529!3d42.75279006128682!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89e3b0e42dfabf85%3A0xb6660811428bea55!2sNashua%2C%20NH!5e0!3m2!1sen!2sus!4v1663039443636!5m2!1sen!2sus"
              style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

          </div>

        </div>

      </div>

    </div>

  </main>

  <br><br><br>

  <%- include("partials/footer") -%>