<%- include("partials/header-2") -%>

    </div>

    </section>

    <h3>Prompts:</h3><br>

    <form action="" method="GET">

        <div class="form-group">

            <label for="like">What is something you like?</label>
            <input id="like" type="text" class="form-control textbox" placeholder="Answer prompt" name="user-like"
                minlength="5" maxlength="300" required>

        </div>

        <div>
            <button type="submit" class="btn btn-dark btn-lg">Save prompt</button>
        </div>

    </form>

    <h3>Tips:</h3><br>

    <a href="https://www.helpguide.org/articles/addictions/substance-abuse-and-mental-health.htm#loved-one">Tips on
        substance abuse and mental health</a><br><br>

    <h3>Quotes:</h3><br>

    <p>“When you have a dream, you’ve got to grab it and never let go.”</p><br>

    <h3>Compliments:</h3><br>

    <p>You're stronger than you give yourself credit for.</p>

    <br><br>

    <h3>To do:</h3>
    <ul>
        <li>Talk to someone</li>
        <li>Call a center</li>
        <li>Book an appointment</li>
    </ul>

    <br><br>

    <h3>Booking:</h3><br>

    <form action="">

        <div class="form-group">

            <label>Do you want to book an appointment?</label>
            <input type="text" class="form-control textbox" placeholder="Enter email">

        </div>

        <div>
            <button type="submit" class="btn btn-dark btn-lg">Book</button>
        </div>

    </form>

    <%- include("partials/footer") -%>