<%- include("partials/header-2") -%>
    <br><br>

    <h2>Click on a link above to get started!</h2>

    <br><br>

    <a href="logout" class="btn btn-dark btn-lg">Log Out</a>

    <br><br><br>

    <%- include("partials/footer") -%>