<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Home</title>

    <%- include("partials/navbar-2") -%>

        <main class="container-fluid home">

            <h1 class="section-heading">Welcome <%= username %>!</h1>

            <div>

                <h3>Begin your journey by selecting one of the options below.</h3>

                <br><br>

                <h4>

                    <a href="info" class="home-link">More Info:</a>

                </h4>

                <p>Learn about the various aspects of substance abuse.</p>

                <br><br>

                <h4>

                    <a href="mindfulness" class="home-link">Mindfulness:</a>

                </h4>

                <p>Get inspired with our collection of quotes and videos.</p>

                <br><br>

                <h4>

                    <a href="goals" class="home-link">Goals:</a>

                </h4>

                <p>Define your aspirations and track your progress towards achieving them.</p>

                <br><br>

                <h4>

                    <a href="journals" class="home-link">Journals:</a>

                </h4>

                <p>Unleash your creativity and express yourself freely.</p>

            </div>

            <br>

            <a href="logout" class="btn btn-dark btn-lg logout">
                Log Out <i class="fa-solid fa-right-from-bracket"></i>
            </a>

        </main>

        <%- include("partials/footer") -%>