<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Home</title>

    <%- include("partials/navbar-2") -%>

        <main class="container-fluid home">

            <h1 class="section-heading">Welcome <%= username %>!</h1>

            <div>

                <h3>Begin your journey by selecting one of the options below.</h3>

                <div class="row features">

                    <div class="col-lg-3">

                        <a href="info" class="home-link">

                            <i class="fa-solid fa-book fa-4x"></i>

                            <h3>

                                More Info

                            </h3>

                        </a>

                        <p>Learn about the various aspects of substance abuse.</p>

                    </div>

                    <div class="col-lg-3">

                        <a href="mindfulness" class="home-link">

                            <i class="fa-solid fa-spa fa-4x"></i>

                            <h3>

                                Mindfulness

                            </h3>

                        </a>

                        <p>Get inspired with our collection of quotes & videos.</p>

                    </div>

                    <div class="col-lg-3">

                        <a href="goals" class="home-link">

                            <i class="fa-solid fa-list-check fa-4x"></i>

                            <h3>

                                Goals

                            </h3>

                        </a>

                        <p>Define your aspirations & track your progress towards achieving them.</p>

                    </div>

                    <div class="col-lg-3">

                        <a href="journals" class="home-link">

                            <i class="fa-solid fa-pen-nib fa-4x"></i>

                            <h3>

                                Journals

                            </h3>

                        </a>

                        <p>Unleash your thoughts & express yourself freely.</p>

                    </div>

                </div>

            </div>

            <br>

            <a href="logout" class="btn btn-outline-dark btn-lg logout">
                Log Out <i class="fa-solid fa-right-from-bracket"></i>
            </a>

        </main>

        <%- include("partials/footer") -%>