<%- include("partials/header-2") -%>
    <br><br>

    <h2 class="future-sec-heading">Hello <%= username %>!</h2>

    <br>

    <h3 class="future-sec-heading">Click on a link above to get started.</h3>

    <br><br>

    <a href="logout" class="btn btn-dark btn-lg">Log Out</a>

    <br><br><br>

    <%- include("partials/footer") -%>