<%- include("partials/header-2") -%>

    <main class="container-fluid colored-section">

        <h2 class="future-heading">Hello <%= username %>!</h2>

        <h3 class="future-sec-heading">Click on a link above to get started.</h3>

        <br>

        <a href="logout" class="btn btn-dark btn-lg">Log Out</a>

        <br><br>

    </main>

    <%- include("partials/footer") -%>