<!DOCTYPE html>
<html lang='en'>

<head>
    <meta charset='utf-8'>
    <title>Home</title>

    <%- include('partials/navbar-2') -%>

        <main class='container-fluid colored-section home'>

            <h2 class='section-heading'>Hello <%= username %>!</h2>

            <h3>Click on a link above to get started.</h3>

            <a href='logout' class='btn btn-dark btn-lg logout'>
                Log Out <i class='fa-solid fa-right-from-bracket'></i>
            </a>

        </main>

        <%- include('partials/footer') -%>