<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Mpower - Fighting Addiction</title>

    <%- include("partials/navbar-1") -%>

        <div class="colored-section container-fluid title">

            <div class="row">

                <div class="col-lg-6">

                    <h1 class="big-heading">Fight Addiction. Together.</h1>

                    <h2 class="subtitle">

                        Achieve lasting recovery through comprehensive support.

                    </h2>

                    <a href="signup" class="btn btn-dark btn-lg signup-btn">
                        Get Started <i class="fa-solid fa-right-to-bracket"></i>
                    </a>

                    <a href="login" id="login-btn" class="btn btn-outline-light btn-lg">Log In</a>

                </div>

                <div class="col-lg-6">
                    <img src="imgs/hands.png" class="title-img" alt="helping">
                </div>

            </div>

        </div>

        </section>

        <section class="container-fluid">

            <h2 class="section-heading">Impact of Drug Abuse</h2>

            <p class="blurb">

                Drug abuse among teens has significantly increased, with overdose deaths doubling from 2019 to
                2020 and over two-thirds of high school seniors trying alcohol.

                <br><br>

                This behavior can lead to problems at
                school, mental health issues, motor-vehicle accidents, and place stress on families.

            </p>

            <div class="row row-l">

                <div class="col-lg-6 text-center">
                    <img src="imgs/aid.png" class="img-l" alt="first aid">
                </div>

                <div class="col-lg-6">

                    <h2 class="header">Physical Health</h2>
                    <p class="impact-text">
                        Drug abuse can cause physical effects such as organ damage, physical dependence, and
                        increased risk of health problems. It can also lead to impaired judgment and coordination, and
                        increased risk of mental health disorders.
                    </p>

                </div>

            </div>

            <div class="row row-r">

                <div class="col-lg-6 hidden text-center">
                    <img src="imgs/brain.png" class="img-r" alt="brain">
                </div>

                <div class="col-lg-6">

                    <h2 class="header">Mental Health</h2>
                    <p class="impact-text">
                        Drug abuse can cause mental and emotional problems such as depression, anxiety, psychosis,
                        and cognitive impairment, and can worsen existing mental health issues. It can also cause
                        psychosis and impair cognitive function.
                    </p>

                </div>

                <div class="col-lg-6 shown">
                    <img src="imgs/brain.png" class="img-r" alt="brain">
                </div>

            </div>

            <div class="row row-l" id="no-margin">

                <div class="col-lg-6 text-center">
                    <img src="imgs/job.png" class="img-l" alt="job">
                </div>

                <div class="col-lg-6">
                    <h2 class="header">Society</h2>
                    <p class="impact-text">
                        Drug abuse can cause relationship problems, employment difficulties, and financial
                        instability, as well as wider societal impacts such as increased healthcare costs and decreased
                        productivity. It can strain relationships, impair job performance, and cause financial problems.
                    </p>

                </div>

            </div>

        </section>

        <hr class="colored-hr">

        <section class="container-fluid">

            <h2 class="section-heading">Mpower Does 3 Things.</h2>

            <div class="row features">

                <div class="col-lg-4">

                    <i class="fa-solid fa-brain fa-4x"></i>

                    <h3>Mental Health Resources</h3>

                    <p>Mpower provides information and assistance for individuals affected by drug abuse.</p>

                </div>

                <div class="col-lg-4">

                    <i class="fa-solid fa-heart fa-4x"></i>

                    <h3>Emotional Self-Control</h3>

                    <p>Mpower offers journal prompts to help individuals improve their self-expression.</p>

                </div>

                <div class="col-lg-4">

                    <i class="fa-solid fa-chart-line fa-4x"></i>

                    <h3>Tracking Progress</h3>

                    <p>Journals allow users to create accounts to record their growth over time.</p>

                </div>

            </div>

        </section>

        <section id="testimonials">

            <h2 class="section-heading">Others Weigh In</h2>

            <div class="carousel slide" id="testimonial-carousel">

                <div class="carousel-inner container-fluid">

                    <div class="carousel-item active">

                        <h3>
                            Mpower has truly made a difference in my life. I am now able to get the support I need, and
                            I truly believe that Mpower may have saved my future.
                        </h3>

                        <p>John, NH</p>

                    </div>

                    <div class="carousel-item">

                        <h3>
                            Mpower has been a guiding light in my recovery journey. It"s provided me with the tools,
                            support, and accountability I need to stay sober and build a better life.
                        </h3>

                        <p>Jack, NH</p>

                    </div>

                </div>

                <a class="carousel-control-prev" href="#testimonial-carousel" data-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                </a>

                <a class="carousel-control-next" href="#testimonial-carousel" data-slide="next">
                    <span class="carousel-control-next-icon"></span>
                </a>

            </div>

        </section>

        <section class="colored-section container-fluid cta">

            <h2 class="big-heading">Take Control of Your Life Today.</h2>
            <a href="signup" class="btn btn-dark btn-lg">Get Started</a>

        </section>

        <%- include("partials/footer") -%>