<%- include("partials/header") -%>

    <div class="colored-section container-fluid title">

        <div class="row">

            <div class="col-lg-6">

                <h1 class="big-heading">Get the support you need today.</h1>

                <a class="btn btn-dark btn-lg signup-btn" href="signup">
                    Get Started
                    <i class="fa fa-chevron-right"></i>
                </a>

                <a class="btn btn-light btn-lg hide-btn" href="login">Log In</a>

            </div>

            <div class="col-lg-6">
                <img src="imgs/helping.jpeg" class="title-img" alt="helping">
            </div>

        </div>

    </div>

    </section>

    <br>

    <section>

        <h2 class="section-heading">What's the Problem?</h2>

        <p class="blurb">Substance abuse is a major problem in our schools, and threatens the safety of our schools.
            Finding a solution is crucial, as it affects almost every high school student in New Hampshire.</p>

        <br>

        <div class="container-fluid">

            <div class="row row-l">

                <div class="col-lg-6">
                    <img src="imgs/safety.png" class="problem-img img-l" alt="safety">
                </div>

                <div class="col-lg-6">

                    <h2 class="header">Safety</h2>
                    <p class="problem-text">It's a well-known fact that schools with higher percentage of students with
                        substance abuse
                        problems are less safe. Solving substance abuse would make schools a safer community for all.
                    </p>

                </div>

            </div>

            <br>

            <div class="row row-l hidden">

                <div class="col-lg-6">
                    <img src="imgs/impact.jpeg" class="problem-img img-l" alt="impact">
                </div>

                <div class="col-lg-6">

                    <h2 class="header">Impact</h2>
                    <p class="problem-text">Substance abuse affects almost every high school student in New Hampshire,
                        and a solution must be
                        created to prevent its disastrous influence from spreading further.</p>

                </div>

            </div>

            <div class="row row-r show">

                <div class="col-lg-6">

                    <h2 class="header">Impact</h2>
                    <p class="problem-text">Substance abuse affects almost every high school student in New Hampshire,
                        and a solution must be
                        created to prevent its disastrous influence from spreading further.</p>

                </div>

                <div class="col-lg-6">
                    <img src="imgs/impact.jpeg" class="problem-img img-r" alt="impact">
                </div>

            </div>

            <br>

            <div class="row row-l">

                <div class="col-lg-6">
                    <img src="imgs/important.png" class="problem-img img-l" alt="important">
                </div>

                <div class="col-lg-6">
                    <h2 class="header">Important</h2>
                    <p class="problem-text">The influence of substance abuse can be disastrous, so we must find a
                        solution as soon as
                        possible.
                    </p>

                </div>

            </div>

        </div>

    </section>

    <hr class="features-hr">

    <section id="solution" class="container-fluid">

        <h2 class="section-heading">Website does 3 things.</h2>

        <br>

        <ol class="features">

            <li class="feature">
                <h3>Provide information on substance abuse and the drug epidemic.</h3>
                <br>
                <p>Website explains the causes and effects of substance abuse, and gives advice on how people can seek
                    assistance.</p>
            </li>

            <br>

            <li class="feature">
                <h3>Provide access to resources for those in need.</h3>
                <br>
                <p>Website provides contacts for nearby help centers, and provides links for online support.</p>
            </li>

            <br>

            <li class="feature">
                <h3>Help people regain control over their thoughts and emotions.</h3>
                <br>
                <p>Website provides daily prompts to answer, allowing people to constantly improve the way they express
                    themselves.</p>
            </li>

            <br>

        </ol>

    </section>

    <section id="testimonials">

        <br>

        <h2 class="section-heading">Here's what others had to say:</h2>

        <div class="carousel slide" id="testimonial-carousel">

            <div class="carousel-inner">

                <div class="carousel-item active container-fluid">

                    <h3>I am getting the support I need because of Website. Website may have saved my future. </h3>
                    <br>
                    <p>John, <em>New Hampshire</em></p>

                </div>

                <div class="carousel-item container-fluid">

                    <h3>Website is amazing for me. I love how easy it is to use, because it just makes so much sense to
                        me. </h3>
                    <br>
                    <p>Jack, <em>New Hampshire</em></p>

                </div>

            </div>

            <a class="carousel-control-prev" href="#testimonial-carousel" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>

            <a class="carousel-control-next" href="#testimonial-carousel" data-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>

        </div>

    </section>

    <section class="colored-section cta">

        <div class="container-fluid">

            <h2 class="big-heading">Get the Help You Need Today.</h2>
            <a href="signup" class="btn btn-dark btn-lg">Get Started</a>

        </div>

    </section>

    <%- include("partials/footer") -%>