<%- include("partials/navbar") -%>

    <main class="colored-section container-fluid">

        <h1 class="big-heading">Log In</h1>

        <form action="login" method="post">

            <div class="form-group">

                <label>Username</label>
                <input class="form-control textbox username-box" name="username" placeholder="Enter username"
                    minlength="5" maxlength="20" required autofocus>

            </div>

            <br>

            <div class="form-group">

                <label>Password</label>
                <input type="password" class="form-control textbox pass-box" name="password"
                    placeholder="Enter password" minlength="5" maxlength="20" required>

            </div>

            <% if (err) { %>

                <br>

                <div class="alert alert-danger alert-dismissible fade show">

                    <p>Incorrect username or password. Please try again.</p>

                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">

                        <span aria-hidden="true">&times;</span>

                    </button>

                </div>

                <% } %>

                    <br>

                    <button type="submit" class="btn btn-dark btn-lg login-btn">Log In</button>
                    <a class="btn btn-outline-light btn-lg" href="signup">Sign Up</a>

        </form>

        <br><br><br>

    </main>

    <%- include("partials/footer-1") -%>