<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Mindfulness</title>

    <%- include("partials/navbar-2") -%>

        <main class="container-fluid mindfulness">

            <h1 class="big-heading">Quotes</h1>

            <div class="carousel slide" id="quote-carousel">

                <div class="carousel-inner">

                    <div class="carousel-item active">
                        <h3 class="quote">
                            <%= firstQuote %>
                        </h3>
                    </div>

                    <% quotes.forEach(quote=> { %>

                        <div class="carousel-item container-fluid">

                            <h3 class="quote section-heading">
                                <%= quote %>
                            </h3>

                        </div>

                        <% }) %>

                </div>

                <a class="carousel-control-prev quote-arrow" href="#quote-carousel" data-slide="prev"><span
                        class="carousel-control-prev-icon"></span></a>
                <a class="carousel-control-next quote-arrow" href="#quote-carousel" data-slide="next"><span
                        class="carousel-control-next-icon"></span></a>

            </div>

            <h2 class="big-heading">Videos</h2>

            <div class="container shown">

                <div class="row">

                    <div class="col-lg-6">

                        <iframe src="https://www.youtube.com/embed/mgmVOuLgFB0" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen class="vid"></iframe>

                    </div>

                    <div class="col-lg-6">

                        <iframe src="https://www.youtube.com/embed/O-6f5wQXSu8" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen class="vid"></iframe>

                    </div>

                </div>

                <div class="row">

                    <div class="col-lg-6">

                        <iframe src="https://www.youtube.com/embed/9DtcSCFwDdw" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen class="vid"></iframe>

                    </div>

                    <div class="col-lg-6">

                        <iframe src="https://www.youtube.com/embed/SYMsBN_DkfY" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen class="vid"></iframe>

                    </div>

                </div>

                <div class="row">

                    <div class="col-lg-6">

                        <iframe src="https://www.youtube.com/embed/wnHW6o8WMas" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen class="vid"></iframe>

                    </div>

                    <div class="col-lg-6">

                        <iframe src="https://www.youtube.com/embed/1ZYbU82GVz4" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen class="vid"></iframe>

                    </div>

                </div>

            </div>

            <div class="container hidden">

                <a href="https://www.youtube.com/watch?v=mgmVOuLgFB0">Why Do We Fall - Motivational Video</a>

                <br><br>

                <a href="https://www.youtube.com/watch?v=O-6f5wQXSu8">10-Minute Meditation For Anxiety</a>

                <br><br>

                <a href="https://www.youtube.com/watch?v=9DtcSCFwDdw">You Don't Find Happiness, You Create It | Katarina
                    Blom</a>

                <br><br>

                <a href="https://www.youtube.com/watch?v=SYMsBN_DkfY">Mindfulness is for Everyone: How To Be More
                    Present In Your Life | Eric López Maya</a>

                <br><br>

                <a href="https://www.youtube.com/watch?v=wnHW6o8WMas">NO EXCUSES - Best Motivational Video</a>

                <br><br>

                <a href="https://www.youtube.com/watch?v=1ZYbU82GVz4">Relaxing Sleep Music • Deep Sleeping Music,
                    Relaxing Music, Stress Relief, Meditation Music</a>

                <br><br><br>

            </div>

        </main>

        <%- include("partials/footer") -%>