<%- include("partials/header-2") -%>

    <main class="container-fluid">

        <h1 class="future-heading">Quotes:</h1>

        <div class="carousel slide" id="quote-carousel">

            <div class="carousel-inner">

                <div class="carousel-item container-fluid active">
                    <h3 class="quote future-sec-heading">
                        <%= firstQuote %>
                    </h3>
                </div>

                <% quotes.forEach(quote=> { %>

                    <div class="carousel-item container-fluid">

                        <h3 class="quote future-sec-heading">
                            <%= quote %>
                        </h3>

                    </div>

                    <% }) %>

            </div>

            <a class="carousel-control-prev quote-arrow" href="#quote-carousel" data-slide="prev"><span
                    class="carousel-control-prev-icon"></span></a>
            <a class="carousel-control-next quote-arrow" href="#quote-carousel" data-slide="next"><span
                    class="carousel-control-next-icon"></span></a>

        </div>

    </main>

    <h2 class="future-heading">Videos:</h2>

    <div class="vid-container">

        <iframe src="https://www.youtube.com/embed/mgmVOuLgFB0" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen class="vid-1"></iframe>

        <iframe src="https://www.youtube.com/embed/26U_seo0a1g" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen class="vid-2"></iframe>

    </div>

    <br><br><br><br>

    <%- include("partials/footer") -%>