<%- include("partials/header-2") -%>

    <br><br>

    <main>

        <h1>Quotes:</h1>

        <br><br>

        <h4>"When you have a dream, you've got to grab it and never let go."</h4>

    </main>

    <br><br><br>

    <%- include("partials/footer") -%>