<%- include("partials/header-2") -%>

    <main class="quotes container-fluid">

        <h1 class="future-heading">Quotes:</h1>

        <div class="carousel slide" id="quote-carousel">

            <div class="carousel-inner">

                <div class="carousel-item active">
                    <h4 class="quote future-sec-heading">
                        <%= firstQuote %>
                    </h4>
                </div>

                <% quotes.forEach(quote=> { %>

                    <div class="carousel-item container-fluid">

                        <h4 class="quote">
                            <%= quote %>
                        </h4>

                    </div>

                    <% }) %>

            </div>

            <a class="carousel-control-prev quote-arrow" href="#quote-carousel" data-slide="prev"><span
                    class="carousel-control-prev-icon"></span></a>
            <a class="carousel-control-next quote-arrow" href="#quote-carousel" data-slide="next"><span
                    class="carousel-control-next-icon"></span></a>

        </div>

    </main>

    <br><br><br>

    <%- include("partials/footer") -%>