<%- include("partials/header-2") -%>

    <main>

        <div class="container-fluid">

            <p>Alcohol and drug abuse can increase the underlying risk for mental disorders. Since mental health
                problems
                are caused by a complex interplay of genetics, the environment, and other factors, it's difficult to say
                if
                abusing substances ever directly causes them. However, if you are at risk for a mental health issue,
                abusing
                alcohol or drugs may push you over the edge. For example, there is some evidence that those who abuse
                opioid
                painkillers are at greater risk for depression and heavy cannabis use has been linked to an increased
                risk
                for schizophrenia.</p><br>

            <a href="https://counselingcenter.com/location/nashua-auburn/?utm_source=gmb&utm_medium=organic">Mental
                health
                clinic</a><br><br>

            <p>Phone number: 603-883-0005</p>

        </div>

    </main>

    <br>

    <%- include("partials/footer") -%>