<%- include("partials/header") -%>

    <main class="colored-section container-fluid">

        <h1 class="future-heading">Sign Up</h1>

        <form action="signup" method="post">

            <div class="form-group">

                <label>Username:</label>
                <input class="form-control textbox username-box" name="username" placeholder="Enter username" minlength="3"
                    maxlength="30" required autofocus>

            </div>

            <br>

            <div class="form-group">

                <label>Password:</label>
                <input type="password" class="form-control textbox pass-box" name="password" placeholder="Enter password"
                    minlength="5" maxlength="20" required>

            </div>

            <% if (err) { %>

                <br>

                <div class="alert alert-danger alert-dismissible fade show">

                    <p>User with username "<%= err %>" already exists. Please enter a new username or click <a
                                href="login" class="alert-link">here</a> to log in.</p>

                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">

                        <span aria-hidden="true">&times;</span>

                    </button>

                </div>

                <% } %>

                    <br>

                    <button type="submit" class="btn btn-dark btn-lg signup-btn">Sign Up</button>
                    <a class="btn btn-outline-light btn-lg" href="login">Log In</a>

        </form>

    </main>

    <%- include("partials/footer") -%>