<%- include("partials/header") -%>

    <main class="container-fluid">

        <h2 class="section-heading">Mpower does 3 things.</h2>

        <br>

        <ol class="features">

            <li class="feature">
                <h3>Provide information on substance abuse and the drug epidemic.</h3>
                <br>
                <p>Mpower explains the causes and effects of substance abuse, and gives advice on how people can seek
                    assistance.</p>
            </li>

            <br>

            <li class="feature">
                <h3>Provide access to resources for those in need.</h3>
                <br>
                <p>Mpower provides contacts for nearby help centers, and provides links for online support.</p>
            </li>

            <br>

            <li class="feature">
                <h3>Help people regain control over their thoughts and emotions.</h3>
                <br>
                <p>Mpower provides daily journals to answer, allowing people to constantly improve the way they express
                    themselves.</p>
            </li>

        </ol>

    </main>

    <%- include("partials/footer") -%>