<%- include("partials/navbar-1") -%>

    <main class="container-fluid">

        <h1 class="big-heading">Mpower Offers 3 Solutions.</h1>

        <ol class="features">

            <div class="row">

                <div class="col-lg-9">

                    <li class="feature">

                        <h3>Provides resources on the drug epidemic.</h3>

                        <br>

                        <p>Mpower offers in-depth information and support for those affected by drug abuse.</p>

                    </li>

                </div>

                <div class="col-lg-3">

                    <img src="imgs/puddle.png" alt="puddle" class="puddle">

                </div>

            </div>

            <br>

            <div class="row">

                <div class="col-lg-9">

                    <li class="feature">

                        <h3>Enables individuals to take control of their thoughts and emotions.</h3>

                        <br>

                        <p>Mpower offers journal prompts to help individuals constantly improve their
                            self-expression.</p>

                    </li>

                </div>

                <div class="col-lg-3">

                    <img src="imgs/self-expression.png" alt="self-expression" class="self-expression">

                </div>

            </div>

            <br>

            <div class="row">

                <div class="col-lg-9">

                    <li class="feature">

                        <h3>Allows individuals to create accounts to track their progress.</h3>

                        <br>

                        <p>The journal storage feature enables individuals to reflect on their growth over time.</p>

                    </li>

                </div>

                <div class="col-lg-3">

                    <img src="imgs/development.jpeg" alt="development" class="development">

                </div>

            </div>

        </ol>

    </main>

    <br><br><br>

    <%- include("partials/footer") -%>