<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Our Approach</title>

    <%- include("partials/navbar-1") -%>

        <main class="container-fluid solutions">

            <h1 class="big-heading">Mpower Offers 3 Solutions.</h1>

            <ol class="solution-ol">

                <div class="row">

                    <div class="col-lg-9">

                        <li class="solution">

                            <h3 class="solution-header">Resources on the Drug Epidemic</h3>

                            <p>Mpower provides in-depth information and support to help individuals understand and cope
                                with the challenges of drug abuse.</p>

                        </li>

                    </div>

                    <div class="col-lg-3">

                        <img src="imgs/puddle.png" alt="puddle" class="solution-img">

                    </div>

                </div>

                <div class="row">

                    <div class="col-lg-9">

                        <li class="solution">

                            <h3 class="solution-header">Self-Expression and Emotional Control</h3>

                            <p>Mpower offers journal prompts to help individuals improve their self-expression and take
                                control of their thoughts and emotions.</p>

                        </li>

                    </div>

                    <div class="col-lg-3">

                        <img src="imgs/self-expression.png" alt="self-expression" class="solution-img">

                    </div>

                </div>

                <div class="row">

                    <div class="col-lg-9">

                        <li class="solution">

                            <h3 class="solution-header">Progress Tracking</h3>

                            <p>Mpower allows individuals to create accounts and track their progress over time. The
                                journal storage feature enables individuals to reflect on their growth and see how far
                                they've come.</p>

                        </li>

                    </div>

                    <div class="col-lg-3">

                        <img src="imgs/development.png" alt="development" class="solution-img">

                    </div>

                </div>

            </ol>

        </main>

        <br>

        <%- include("partials/footer") -%>