<%- include("partials/navbar-1") -%>

    <main class="container-fluid">

        <h2 class="section-heading">Mpower Offers 3 Solutions.</h2>

        <br><br>

        <ol class="features">

            <li class="feature">
                <h3>Provides resources on substance abuse and the drug epidemic.</h3>
                <br>
                <p>Mpower offers in-depth information and support for those affected by substance abuse and the drug
                    epidemic.</p>
            </li>

            <br>

            <li class="feature">
                <h3>Enables individuals to take control of their thoughts and emotions.</h3>
                <br>
                <p>Mpower offers daily journal prompts to help individuals constantly improve their self-expression.</p>
            </li>

            <br>

            <li class="feature">
                <h3>Allows individuals to create accounts to track their progress.</h3>
                <br>
                <p>Our journal storage feature enables individuals to reflect on their growth over time.</p>
            </li>

        </ol>

    </main>

    <br><br><br>

    <%- include("partials/footer") -%>