<%- include("partials/header-2") -%>

  <br><br>

  <main>

    <h1 class="future-heading">Tasks:</h1>

    <div class="box">

      <% tasksList.forEach(task=> { %>
        <div class="task-cell">
          <input class="checkbox" type="checkbox">
          <p class="task">
            <%= task %>
          </p>
        </div>

        <% }) %>

          <form class="task-cell" action="/tasks" method="post">
            <input class="task-input" type="text" placeholder="New Task" name="taskTitle" autofocus required>
            <button class="add-btn" type="submit">+</button>
          </form>
    </div>

  </main>

  <br><br><br><br><br>

  <%- include("partials/footer") -%>