<%- include("partials/header-2") -%>

  <br><br>

  <main>

    <h1 class="future-heading">Todo:</h1>

    <div class="box">

      <% todoList.forEach(todo=> { %>
        <div class="todo-cell">
          <input class="checkbox" type="checkbox">
          <p class="todo-item">
            <%= todo %>
          </p>
        </div>

        <% }) %>

          <form class="todo-cell" action="/todo" method="post">
            <input class="todo-input" type="text" placeholder="New Task" name="todoTitle" autofocus required>
            <button class="todo-btn" type="submit">+</button>
          </form>
    </div>

  </main>

  <br><br><br>

  <%- include("partials/footer") -%>