/* General */

body {
  font-family: "Montserrat";
  text-align: center;
  line-height: 1.5;
  color: #3f3f3f;
  margin: auto;
}

h1,
h2,
h3 {
  font-weight: 900;
  margin: auto;
}

p {
  font-size: 1.2rem;
  margin: auto;
}

.container-fluid {
  padding: 3% 10%;
}

.colored-section {
  background-color: #1363DF;
  color: #fff;
}

/* Navigation Bar */

.nav-div {
  padding-top: 1%;
  padding-bottom: 1%;
}

.navbar {
  padding: 0;
}

.navbar-nav {
  margin-top: 1%;
}

.navbar-brand {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.nav-item {
  padding: 0 0 20px 30px;
  font-size: 1.5rem;
}

/* Headings */

.big-heading {
  margin-bottom: 3%;
  font-size: 3.5rem;
}

.section-heading {
  padding-top: 3%;
  margin-bottom: 2%;
  font-size: 2.5rem;
}

/* Buttons */

.btn {
  border-radius: 15px;
  margin: 0;
}

.signup-btn,
.login-btn,
.save-btn {
  margin-right: 2%;
}

i {
  margin-left: 3%;
}

/* Title & Title Image */

.title {
  text-align: left;
}

.title-img {
  width: 80%;
  margin-left: 20%;
}

.title .row {
  margin-bottom: 1%;
}

/* Problem */

.blurb {
  width: 50%;
}

.hidden {
  display: none;
}

.problem-img {
  width: 40%;
}

.header {
  margin: 8% 0 3%;
}

.row-l,
.row-r {
  margin-bottom: 3%;
}

.row-l {
  text-align: left;
}

.row-r {
  text-align: right;
}

.img-l {
  margin-left: 50%;
}

.img-r {
  margin-right: 50%;
}

/* Features */

.features-hr {
  margin: auto;
  width: 50%;
  border-top: 10px dotted #2FA4FF;
}

ol {
  display: inline-block;
  text-align: left;
}

.features li::marker {
  font-weight: bold;
  color: #1363DF;
  font-size: 3.5rem;
}

/* Testimonials */

#testimonials {
  background-color: #2FA4FF;
  color: #fff;
}

#testimonials .section-heading {
  color: #fff;
}

.carousel-item p {
  font-size: 1.2rem;
  margin-bottom: 1%;
}

/* Copyright */

hr {
  margin: 0;

}

.copyright {
  color: #3f3f3f;
}

/* Textbox */

.textbox {
  margin: auto;
  width: 50%;
}

/* Prompts */

input {
  text-align: center;
}

.prompts-ul {
  text-align: left;
  margin-left: 3%;
}

.prompt-title {
  font-weight: bold;
  font-size: 1.7rem;
}

#prompt-content {
  font-weight: normal;
  font-size: 1.3rem;
}

.alert {
  width: 50%;
  margin: auto;
}

/* Todo */

.box {
  width: 30%;
  margin: auto;
  border-radius: 20px;
  border: 2px #9f9f9f solid;
}

.todo-cell {
  display: flex;
  align-items: center;
  border-bottom: 2px solid #F2F2F2;
}

.todo-cell:last-child {
  border-bottom: 0;
}

input:checked+p {
  text-decoration: line-through;
  text-decoration-color: #1363DF;
}

.checkbox {
  margin: 20px;
}

.todo-item {
  margin: 0;
  padding: 20px;
}

form.todo-cell {
  margin-left: 20px;
}

.todo-btn {
  width: 50px;
  border-radius: 100%;
  background-color: #2FA4FF;
  color: #fff;
  font-size: 30px;
  border-width: 0;
}

.todo-input {
  height: 60px;
  border: none;
  font-size: 20px;
  width: 350px;
}

.todo-input:focus {
  outline: none;
  box-shadow: inset 0 -3px 0 0 #1363DF;
}

::placeholder {
  color: grey;
}

/* Quotes */

.quote {
  font-style: italic;
}

.quote-arrow {
  filter: invert(100%);
}

/* Contact */

.contact {
  text-align: right;
  padding-right: 3%;
}

.iframe-container {
  padding-top: 60%;
  position: relative;
}

.iframe-container iframe {
  margin-left: 3%;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

/* Responsiveness */

@media (max-width: 1310px) {

  .big-heading {
    font-size: 3rem;
    margin-top: 2%;
  }

  .section-heading {
    font-size: 2.2rem;
    padding-top: 3%;
  }

  h2 {
    font-size: 1.8rem;
  }

  .blurb {
    width: 70%;
  }

  .container-fluid {
    padding: 2% 5%;
  }

  .navbar-brand {
    font-size: 2.2rem;
    margin-top: 0;
  }

  .nav-item {
    padding: 0 0 20px 20px;
    font-size: 1.3rem;
  }

  .nav-item .btn {
    font-size: 1.1rem;
  }

  .title-img {
    width: 80%;
    margin-left: 10%;
  }

  .features li::marker {
    font-size: 3rem;
  }

  .carousel-item h4 {
    font-size: 1.3rem;
  }

  .btn {
    margin-top: 1%;
    margin-bottom: 1%;
  }

}

@media (max-width: 1160px) {

  .nav-item {
    padding: 0 0 20px 10px;
  }

  .navbar-brand {
    margin-bottom: 2%;
  }

  .title .row {
    margin-bottom: 3%;
  }

  p {
    font-size: 1.2rem;
  }

  h4 {
    font-size: 1.3rem;
  }

  li h4 {
    margin-bottom: 0;
  }

  .features li::marker {
    font-size: 2.5rem;
  }

  .carousel-control-prev,
  .carousel-control-next {
    visibility: hidden;
  }

}

@media (max-width: 992px) {

  nav {
    text-align: left;
  }

  .nav-item, .nav-item .btn {
    font-size: 1.1rem;
    line-height: 1;
  }

  .navbar-brand {
    margin-bottom: 0;
  }

  .container-fluid {
    padding: 1% 5%;
  }

  .container-fluid.nav-div {
    padding-bottom: 0;
  }

  .big-heading {
    font-size: 2.5rem;
    margin-bottom: 1%;
    margin-top: 3%;
  }

  .section-heading {
    font-size: 2rem;
    padding-top: 3%;
    margin-bottom: 4%;
  }

  .btn {
    margin-bottom: 3%;
  }

  .title-img {
    width: 40%;
    margin: 3% 0 3%;
  }

  .navbar-toggler {
    margin-bottom: 1%;
  }

  .blurb {
    margin-bottom: 1%;
  }

  .problem-img {
    width: 20%;
  }

  .header {
    margin: 5% 0 3%;
  }

  .hidden {
    display: block;
  }

  .show {
    display: none;
  }

  .row {
    margin-bottom: 0;
  }

  .row-l,
  .row-r {
    text-align: center;
  }

  .img-l,
  .img-r {
    margin: auto;
  }

  .problem-text {
    width: 70%;
    margin-bottom: 3%;
  }

  .carousel-item p {
    margin-bottom: 3%;
  }

  .cta .big-heading {
    margin-bottom: 3%;
  }

  footer .container-fluid {
    padding-top: 3%;
    padding-bottom: 3%;
  }

}

@media (max-width: 850px) {

  .title-img {
    width: 60%;
  }

  .problem-img {
    width: 30%;
  }

  .section-heading {
    padding-top: 4%;
  }

}

@media (max-width: 760px) {
  p {
    font-size: 1.1rem;
  }

  .problem-text {
    width: 80%;
  }

  h2 {
    font-size: 1.7rem;
  }

  .big-heading {
    font-size: 2.2rem;
  }

  .section-heading {
    font-size: 1.8rem;   
  }

}

@media (max-width: 650px) {
  p {
    font-size: 1rem;
  } 
}