/* General */
body {
  font-family: 'Montserrat';
  text-align: center;
  line-height: 1.5;
  color: #3f3f3f;
}

h1, h2, h3 {
  font-weight: 900;
  margin: auto;
}

p {
  margin: auto;
}

.container-fluid {
  padding: 3% 10%;
}

.colored-section {
  background-color: #516BEB;
  color: #fff;
}

/* Navigation Bar */
#title .container-fluid {
  padding-top: 1%;
}

.navbar {
  padding: 0;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 5%;
}

.nav-item {
  padding: 0 0 6% 30px;
  font-size: 1.5rem;
}

/* Headings */
.big-heading {
  font-size: 3.5rem;
}

.section-heading {
  font-weight: bold;
  color: #516BEB;
  font-size: 3rem;
}

/* Buttons */
.btn {
  border-radius: 15px;
  margin: 0;
}

.signup-btn, .login-btn {
  margin-right: 1%;
}

/* Title Section & Image */
#title {
  text-align: left;
}

.title-img {
  width: 80%;
  margin-left: 20%;
}

/* Problem Section */
.blurb {
  width: 50%;
}

.img {
  width: 40%;
}

.header {
  margin: 8% 0 3%;
}

.row {
  margin-bottom: 2rem;
}

.row-l {
  text-align: left;
}

.row-r {
  text-align: right;
}

.img-l {
  margin-left: 50%;
}

.img-r {
  margin-right: 50%;
}

/* Solution Section */
hr {
  width: 50%;
  border: 10px dotted #3DB2FF;
  border-top: none;
}

ol {
  display: inline-block;
  text-align: left;
}

li::marker {
  font-weight: bold;
  color: #516BEB;
  font-size: 3.5rem;
}

li p {
  font-size: 1.3rem;
}

/* Testimonial Section */
#testimonials {
  background-color: #3DB2FF;
  color: #fff;
}

#testimonials .section-heading {
  color: #fff;
}

.carousel-item p {
  font-size: 1.2rem;
}

/* Copyright */
.copyright {
  color: #3f3f3f;
}

/* Textbox */
.textbox {
  margin: auto;
  width: 50%;
}