/* General */

body {
  font-family: "Montserrat";
  text-align: center;
  line-height: 1.5;
  color: #3f3f3f;
  margin: auto;
}

h1,
h2 {
  font-weight: 900;
  margin: auto;
}

p {
  font-size: 1.2rem;
  margin: auto;
}

/* Containers */

.container-fluid {
  padding: 3% 10%;
}

.colored-section {
  background-color: #1363DF;
  color: #fff;
}

/* Navigation Bar */

.nav-div {
  padding-top: 1%;
  padding-bottom: 1%;
}

.navbar {
  padding: 0;
}

.navbar-nav {
  margin-top: 1%;
}

.navbar-brand {
  font-size: 2.5rem;
  margin-bottom: 1%;
}

.nav-item {
  padding: 0 0 20px 30px;
  font-size: 1.5rem;
}

/* Headings */

.big-heading {
  margin: 0 0 5%;
  font-size: 3.5rem;
}

.future-heading {
  margin: 0 0 4%;
}

.section-heading {
  margin: 3% 0 2%;
  font-size: 2.5rem;
}

/* Buttons */

.btn {
  border-radius: 15px;
}

.signup-btn,
.login-btn,
.save-btn {
  margin-right: 2%;
}

/* Title & Title Image */

.title {
  text-align: left;
}

.title-img {
  width: 80%;
  margin: 0 0 3% 20%;
}

/* Problem */

.blurb {
  width: 50%;
  margin-bottom: 2%;
}

.hidden {
  display: none;
}

.problem-img {
  width: 40%;
}

.header {
  margin: 5% 0 3%;
}

.row-l,
.row-r {
  margin-bottom: 9%;
}

.row-l {
  text-align: left;
}

.row-r {
  text-align: right;
}

.img-l {
  margin-left: 50%;
}

.img-r {
  margin-right: 50%;
}

/* Features */

.features-hr {
  margin: 0 auto 0;
  width: 50%;
  border-top: 10px dotted #2FA4FF;
}

ol {
  text-align: left;
}

.features li::marker {
  font-weight: bold;
  color: #1363DF;
  font-size: 3.5rem;
}

.features p {
  margin-bottom: 3%;
}

/* Testimonials */

#testimonials {
  background-color: #2FA4FF;
  color: #fff;
}

#testimonials .section-heading {
  color: #fff;
}

.carousel-item p {
  font-size: 1.2rem;
}

/* Copyright */

hr {
  margin: 0;
}

.copyright {
  color: #3f3f3f;
}

/* Textbox */

.textbox {
  margin: auto;
  width: 50%;
}

/* Prompts */

input {
  text-align: center;
}

.prompts-ul {
  text-align: left;
  margin-left: 3%;
}

.prompt-title {
  font-weight: bold;
  font-size: 1.7rem;
}

.alert {
  width: 50%;
  margin: auto;
}

/* Todo */

.box {
  width: 30%;
  margin: auto;
  border-radius: 20px;
  border: 2px #9f9f9f solid;
}

.todo-cell {
  display: flex;
  align-items: center;
  border-bottom: 2px solid #F2F2F2;
}

.todo-cell:last-child {
  border-bottom: 0;
}

input:checked+p {
  text-decoration: line-through;
  text-decoration-color: #1363DF;
}

.checkbox {
  margin: 7%;
}

.todo-item {
  margin: 0;
  padding: 5%;
}

form.todo-cell {
  margin-left: 5%;
}

.todo-btn {
  width: 12%;
  border-radius: 100%;
  background-color: #2FA4FF;
  color: #fff;
  font-size: 2rem;
  border-width: 0;
}

.todo-input {
  height: 60px;
  border: none;
  font-size: 1.5rem;
  width: 350px;
}

.todo-input:focus {
  outline: none;
  box-shadow: inset 0 -3px 0 0 #1363DF;
}

::placeholder {
  color: grey;
}

/* Quotes */

.quote {
  font-style: italic;
}

.quote-arrow {
  filter: invert(100%);
}

/* Contact */

.contact {
  text-align: right;
  padding-right: 3%;
}

.iframe-container {
  padding-top: 60%;
  position: relative;
}

.iframe-container iframe {
  margin-left: 3%;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}


/* Responsiveness */

@media (max-width: 1000px) {

  /* Font sizes */

  .section-heading, .future-sec-heading {
    font-size: 4rem;
    margin: 10% 0 8%;
  }

  p {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 3.5rem;
  }

  h3 {
    font-size: 3rem;
  }

  .carousel-item p {
    font-size: 3rem;
  }

  .big-heading,
  .future-heading {
    font-size: 5rem;
    margin-top: 7%;
    margin-bottom: 9%;
    line-height: 1.3;
  }

  /* Navbar */

  .navbar-brand {
    font-size: 4rem;
    margin-bottom: 0;
  }

  .nav-item {
    text-align: left;
    font-size: 3rem;
  }

  .navbar-toggler {
    margin-bottom: 1%;
  }

  /* Title section */

  .title-img {
    margin: 9% 0 10%;
    width: 90%;
  }

  /* Buttons */

  .btn {
    border-radius: 40px;
    font-size: 3rem;
    margin-bottom: 6%;
    padding: 3%;
  }

  .hide-btn {
    display: none;
  }

  .signup-btn,
  .login-btn,
  .save-btn {
    margin-right: 5%;
  }

  .navbar-toggler {
    padding: 30px !important;
    font-size: 30px !important;
  }

  /* Problem section */

  .blurb {
    width: 80%;
    margin-bottom: 10%;
  }

  .problem-img {
    margin-top: 10%;
    width: 70%;
  }

  .header {
    margin: 10% 0 5%;
    font-size: 3.5rem;
  }

  .hidden {
    display: block;
  }

  .show {
    display: none;
  }

  .row-l,
  .row-r {
    text-align: center;
    margin-bottom: 0;
  }

  .img-l,
  .img-r {
    margin: auto;
  }

  .problem-text {
    width: 90%;
    margin-bottom: 25%;
  }

  /* Features */

  .features-hr {
    width: 70%;
    border-top: 20px dotted #2FA4FF;
  }

  .features li::marker {
    display: none;
  }

  .features p {
    margin-bottom: 15%;
  }

  /* Carousel */

  .carousel-control-prev,
  .carousel-control-next {
    display: none;
  }

  .carousel p {
    margin-bottom: 10%;
  }

  /* About */

  main h1 {
    margin-top: 4%;
  }

  /* Login/Signup */

  .textbox {
    width: 80%;
  }

  /* Contact */

  .contact {
    text-align: left;
  }

  .iframe-container {
    margin: 10% 0 5%;
    padding: 60% 0 0 0;
  }

  /* Todo */

  .box {
    width: 70%;
  }

  .todo-input {
    width: 100%;
  }

  /* Prompts */

  .prompt-title {
    width: 80%;
  }

  .prompts-ul {
    text-align: left;
    margin-left: 0;
  }

}